<section>
    <div>
        <h2 id="Grade">Conference Call</h2>
        <div>
            <p>This tutorial will walk you through the step up and manage conference call on your LMS with Prodigy.
        </div>

        <h3 id="create-meeting">1. Create Meeting</h3>
        <div class="">
            <p>
                This feature enables Administrator/Tutor to set up a virtual meeting. To set up a virtual meeting, on the <strong>Menu</strong>, go to <strong> prodigyLIVE > Create a meeting</strong>.
                On the <strong>starting a meeting</strong> page, fill in the meeting name in the appropriate box, select attendees by selecting users from the drop down, describe the details of the meeting in the description box,
                select meeting start date and time then click <strong>Submit</strong> to set up meeting.
                <img src="../public/img/getting_started/tutor/prodigyLIVE-create-meeting.png" class="img-center img-shadow img-responsive" width="700">
            </p>
            <p class="alert alert-info text-info sep-img">
                <em><span class="fa fa-info-circle">
                    Notifications are sent to all attendees via email and on the prodigy notification menu.
                </span></em>
            </p>
        </div>

        <h3 id="starting-a-meeting">2. Starting a meeting</h3>
        <div class="">
            <p>
                To start a meeting, on the <strong>Menu</strong>, go to <strong> Conference call > All Meetings</strong>.
                On the meeting list page where you have list of all your created meetings, navigate to meeting you want to start an click <strong>Start Call</strong>. You are taken to
                a page where you have your meeting held with all other attendees.

                <img src="../public/img/getting_started/tutor/prodigyLIVE-start-meeting-button.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>
    </div>
</section>