<!-- Sidebar -->
<aside class="sidebar sidebar-boxed sidebar-dark">
    <a class="sidebar-brand" href="/"><img src="../public/img/getting_started/logo.png" class="logo" alt="ProdigyLMS Logo"></a>
    <ul class="nav sidenav dropable">
        <li><a href="#prodigy-lms">Prodigy LMS</a> </li>
        <li>
            <a href="dashboard.php">Dashboard</a>
        </li>
        <li>
            <a href="profile.php">Profile</a>
            <ul>
                <li><a href="#view-profile">My Profile</a>
                    <ul>
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#update-profile">Update Profile</a></li>
                        <li><a href="#change-password">Change Password</a></li>
                        <li><a href="#course">My Course(s)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="index.php">Basic Setup</a>
            <ul>
                <li><a href="#configure-your-school">Configure your school</a></li>
                <li><a href="#creating-user">Create User</a></li>
                <li><a href="#creating-course">Create Course</a>
                    <ul>
                        <li><a href="#add-course-module">Add Course Module</a></li>
                        <li><a href="#add-module-topic">Add Module Topic</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="course.php">Course Settings</a>
            <ul>
                <li><a href="#create-course">Create Course</a></li>
                <li><a href="#assign-tutor-to-course">Assign Tutor to Course</a></li>
                <li><a href="#assign-student-to-course">Assign Student to Course</a></li>
                <li><a href="#add-content-to-course">Add Content to Course</a></li>
                <li><a href="#edit-course">Edit Course</a></li>
            </ul>
        </li>
        <li><a href="quiz.php">Quiz Settings</a>
            <ul>
                <li><a href="#create-quiz">Create Quiz</a>
                    <ul>
                        <li><a href="#create-course-quiz">Create Course Quiz</a></li>
                        <li><a href="#create-module-quiz">Create Module Quiz</a></li>
                        <li><a href="#create-topic-quiz">Create Topic Quiz</a></li>
                    </ul>
                </li>
                <li><a href="#create-quiz-question">Create Quiz Question</a>
                    <ul>
                        <li><a href="#create-course-question">Create Course Question</a></li>
                        <li><a href="#create-module-question">Create Module Question</a></li>
                        <li><a href="#create-topic-question">Create Topic Question</a></li>
                    </ul>
                </li>
                <li><a href="#view-edit-delete-quiz">Edit and Delete Quiz</a></li>
                <li><a href="#override-quiz">Override Quiz</a></li>
            </ul>
        </li>
        <li>
            <a href="assignment.php">Assignment Settings</a>
            <ul>
                <li><a href="#create-assignment">Create Assignment</a>
                    <ul>
                        <li><a href="#create-course-assignment">Course Assignment</a></li>
                        <li><a href="#create-module-assignment">Module Assignment</a></li>
                        <li><a href="#create-topic-assignment">Topic Assignment</a></li>
                    </ul>
                </li>
                <li><a href="#view-take-assignment">View/Take Assignment</a>
                    <ul>
                        <li><a href="#view-take-course-assignment">Course Assignment</a></li>
                        <li><a href="#view-take-module-assignment">Module Assignment</a></li>
                        <li><a href="#view-take-topic-assignment">Topic Assignment</a></li>
                    </ul>
                </li>
                <li><a href="#manage-assignment">Manage Assignment</a>
                    <ul>
                        <li><a href="#manage-course-assignment">Course Assignment</a></li>
                        <li><a href="#manage-module-assignment">Module Assignment</a></li>
                        <li><a href="#manage-topic-assignment">Topic Assignment</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="forum.php">Forum Settings</a>
            <ul>
                <li><a href="#forum-general">General Forum</a>
                    <ul>
                        <li><a href="#forum-general-create">Create Forum</a></li>
                        <li><a href="#forum-general-comment">Comment on Forum</a></li>
                        <li><a href="#forum-general-edit">Edit Forum</a></li>
                        <li><a href="#forum-general-delete">Delete Forum</a></li>
                    </ul>
                </li>
                <li><a href="#forum-course">Course Forum</a>
                    <ul>
                        <li><a href="#forum-course-create">Create Forum</a></li>
                        <li><a href="#forum-course-comment">Comment on Forum</a></li>
                        <li><a href="#forum-course-edit">Edit Forum</a></li>
                        <li><a href="#forum-course-delete">Delete Forum</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="announcement.php">Announcement Settings</a>
            <ul>
                <li><a href="#announcement-create">Create Announcement</a>
                    <ul>
                        <li><a href="#announcement-create-general">General Announcement</a></li>
                        <li><a href="#announcement-create-course">Course Announcement</a></li>
                    </ul>
                </li>
                <li><a href="#announcement-manage">Manage Announcement</a>
                    <ul>
                        <li><a href="#announcement-manage-view">View Announcement</a></li>
                        <li><a href="#announcement-manage-edit">Edit Announcement</a></li>
                        <li><a href="#announcement-manage-delete">Delete Announcement</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="course_group.php">Course Group Settings</a>
            <ul>
                <li><a href="#course_group-create">Create Course Group</a></li>
                <li><a href="#course_group-manage">Manage Course Group</a>
                    <ul>
                        <li><a href="#course_group-manage-view">View Course Group</a></li>
                        <li><a href="#course_group-manage-edit">Edit Course Group</a></li>
                        <li><a href="#course_group-manage-delete">Delete Course Group</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="calendar.php">Calendar</a>
            <ul>
                <li><a href="#view-event">View Events</a></li>
                <li><a href="#add-event">Add Event</a></li>
                <li>
                    <a href="#manage-event">Manage Events</a>
                    <ul>
                        <li><a href="#edit-event">Edit</a></li>
                        <li><a href="#delete-event">Delete</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="others.php">Other Features</a>
            <ul>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#notification">Notifications</a></li>
                <li><a href="#help">Help</a></li>
            </ul>
        </li>
    </ul>
</aside>
<!-- END Sidebar -->
