<!-- Sidebar -->
<aside class="sidebar sidebar-boxed sidebar-dark">
    <a class="sidebar-brand" href="/"><img src="../public/img/getting_started/logo.png" class="logo" alt="ProdigyLMS Logo"></a>
    <ul class="nav sidenav dropable">
        <li><a href="#prodigy-lms">Prodigy LMS</a> </li>
        <li>
            <a href="dashboard.php">Dashboard</a>
        </li>
        <li>
            <a href="home.php">Home</a>
        </li>
        <li>
            <a href="profile.php">Profile</a>
            <ul>
                <li><a href="#view-profile">My Profile</a>
                    <ul>
                        <li><a href="#about-me">About Me</a></li>
                        <li><a href="#update-profile">Update Profile</a></li>
                        <li><a href="#change-password">Change Password</a></li>
                        <li><a href="#course">My Course(s)</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="course.php">Course Settings</a>
            <ul>
                <li><a href="#create-course">Create Course</a></li>
                <li><a href="#view-course">View Course(s)</a></li>
                <li><a href="#course-details">Course Details</a>
                    <ul>
                        <li><a href="#course-curriculum">Course Curriculum</a></li>
                        <li><a href="#course-review">Course Review</a></li>
                        <li><a href="#view-tutor-rating">View Tutor Rating</a></li>
                    </ul>
                </li>
                <li><a href="#edit-course">Edit Course</a>
                    <ul>
                        <li><a href="#add-module">Add Module</a></li>
                        <li><a href="#edit-module">Edit Module</a></li>
                        <li><a href="#add-topic">Add Topic</a></li>
                        <li><a href="#delete-module">Delete Module</a></li>
                        <li><a href="#set-grade">Set Course Grade</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="quiz.php">Quiz Settings</a>
            <ul>
                <li><a href="#create-quiz">Create Quiz</a>
                    <ul>
                        <li><a href="#create-course-quiz">Create Course Quiz</a></li>
                        <li><a href="#create-module-quiz">Create Module Quiz</a></li>
                        <li><a href="#create-topic-quiz">Create Topic Quiz</a></li>
                    </ul>
                </li>
                <li><a href="#create-quiz-question">Create Quiz Question</a>
                    <ul>
                        <li><a href="#create-course-question">Create Course Question</a></li>
                        <li><a href="#create-module-question">Create Module Question</a></li>
                        <li><a href="#create-topic-question">Create Topic Question</a></li>
                    </ul>
                </li>
                <li><a href="#view-edit-delete-quiz">Edit and Delete Quiz</a></li>
                <li><a href="#override-quiz">Override Quiz</a></li>
            </ul>
        </li>
        <li>
            <a href="assignment.php">Assignment Settings</a>
            <ul>
                <li><a href="#create-assignment">Create Assignment</a>
                    <ul>
                        <li><a href="#create-course-assignment">Course Assignment</a></li>
                        <li><a href="#create-module-assignment">Module Assignment</a></li>
                        <li><a href="#create-topic-assignment">Topic Assignment</a></li>
                    </ul>
                </li>
                <li><a href="#manage-assignment">Manage Assignment</a>
                    <ul>
                        <li><a href="#manage-course-assignment">Course Assignment</a></li>
                        <li><a href="#manage-module-assignment">Module Assignment</a></li>
                        <li><a href="#manage-topic-assignment">Topic Assignment</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#plagiarism-check">Plagiarism Check</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="forum.php">Forum Settings</a>
            <ul>
                <li><a href="#forum-general">General Forum</a>
                    <ul>
                        <li><a href="#forum-general-create">Create Forum</a></li>
                        <li><a href="#forum-general-comment">Comment on Forum</a></li>
                        <li><a href="#forum-general-edit">Edit Forum</a></li>
                        <li><a href="#forum-general-delete">Delete Forum</a></li>
                    </ul>
                </li>
                <li><a href="#forum-course">Course Forum</a>
                    <ul>
                        <li><a href="#forum-course-create">Create Forum</a></li>
                        <li><a href="#forum-course-comment">Comment on Forum</a></li>
                        <li><a href="#forum-course-edit">Edit Forum</a></li>
                        <li><a href="#forum-course-delete">Delete Forum</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="grade.php">Grade</a>
            <ul>
                <li><a href="#grade-student">Grade Student</a></li>
                <li><a href="#view-grade">View Grade</a></li>
                <li><a href="#see-grade-breakdown">See Grade Breakdown</a></li>
            </ul>
        </li>
        <li><a href="content_manager.php">Content Manager</a>
            <ul>
                <li><a href="#add-content">Add Content</a></li>
                <li><a href="#upload-content">Upload Content</a></li>
                <li><a href="#map-contents">Map Content</a></li>
            </ul>
        </li>
        <li>
            <a href="announcement.php#announcement-setting">Announcement Settings</a>
            <ul>
                <li><a href="#announcement-create">Create Announcement</a></li>
                <li><a href="#announcement-manage">Manage Announcement</a>
                    <ul>
                        <li><a href="#announcement-manage-view">View Announcement</a></li>
                        <li><a href="#announcement-manage-edit">Edit Announcement</a></li>
                        <li><a href="#announcement-manage-delete">Delete Announcement</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="course_group.php#announcement-setting">Course Group Settings</a>
            <ul>
                <li><a href="#course_group-create">Create Course Group</a></li>
                <li><a href="#course_group-manage">Manage Course Group</a>
                    <ul>
                        <li><a href="#course_group-manage-view">View Course Group</a></li>
                        <li><a href="#course_group-manage-edit">Edit Course Group</a></li>
                        <li><a href="#course_group-manage-delete">Delete Course Group</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="calendar.php">Calendar</a>
            <ul>
                <li><a href="#view-event">View Events</a></li>
                <li><a href="#add-event">Add Event</a></li>
                <li>
                    <a href="#manage-event">Manage Events</a>
                    <ul>
                        <li><a href="#edit-event">Edit</a> </li>
                        <li><a href="#delete-event">Delete</a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="prodigyLIVE.php">prodigyLIVE</a>
            <ul>
                <li><a href="#create-meeting">Creating Meeting</a></li>
                <li><a href="#starting-a-meeting">Starting a meeting</a></li>
            </ul>
        </li>
        <li>
            <a href="others.php">Other Features</a>
            <ul>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#notification">Notifications</a></li>
                <li><a href="#help">Help</a></li>
            </ul>
        </li>
    </ul>
</aside>
<!-- END Sidebar -->
