<section>
    <div>
        <h2 id="assignment">Announcement</h2>
        <div>
            <p>This tutorial will walk you through the steps of viewing an announcement</p>
        </div>
        <h3 id="view-announcement">View Announcement</h3>
        <div class="">
            <p>
                To view an announcement on ProdigyLms, all you need is to login as an <strong>Learner</strong>. On the <strong>Menu</strong>; go to
                <strong>Extras > My Announcements</strong>. All available assignment(s) are then listed.
                <img src="../public/img/getting_started/learner/announcement-list.png" class="img-center img-shadow img-responsive" width="900">
                To see full details about an announcement, navigate to the specified announcement and  Click on <strong>Show</strong>.
                <img src="../public/img/getting_started/learner/announcement-show-click.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/announcement-detail.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
    </div>
</section>
