<section>
    <div>
        <h2 id="assignment">Assignment</h2>
        <div>
            <p>This tutorial will walk you through the steps of viewing and taking an assignment.
                Taking an assignment on ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        <h3 id="view-take-assignment">View/Take Assignment</h3>
        <div class="">
            <p>
                To take an Assignment on ProdigyLms, all you need is to login as an <strong>Learner</strong>. On the <strong>Menu</strong>; go to
                <strong>Assignments > My Assignments</strong> and on the <strong>Manage Your Assignment Page</strong>, there are 3 types assignment a student
                can view and take:
                <img src="../public/img/getting_started/learner/assignment-manage-assignment.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="view-take-course-assignment" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    View/Take Course Assignment
                </h6>
                <p>
                    On the  <strong>Manage your assignments</strong> Page, click <strong>View Assignments</strong> on the <strong>Course Assignment</strong> section. Navigate to the assignment
                    you want to take on the available course assignments listed and click <strong>View/Take Assignment</strong>. You are then taken to a new page where you would have your
                    assignment taken.
                    <img src="../public/img/getting_started/assignment-take-course.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/assignment-take-course-answer.png" class="img-center img-shadow img-responsive" width="900">
                    Enter your answer in the <strong>Answer</strong> box and if you have any file or document to support your answer, click <strong>Browse</strong> to upload it, then click
                    <strong>Submit</strong> to submit your answer.
                </p>
                <h6>
                    <span id="view-take-module-assignment" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    View/Take Module Assignment
                </h6>
                <p>
                    On the  <strong>Manage your assignments</strong> Page, click <strong>View Assignments</strong> on the <strong>Module Assignments</strong> section. Navigate to the assignment
                    you want to take on the available module assignments listed and click <strong>View/Take Assignment</strong>. You are then taken to a new page where you would have your
                    assignment taken.
                    <img src="../public/img/getting_started/assignment-take-module.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/assignment-take-module-answer.png" class="img-center img-shadow img-responsive" width="900">
                Enter your answer in the <strong>Answer</strong> box and if you have any file or document to support your answer, click <strong>Browse</strong> to upload it, then click
                <strong>Submit</strong> to submit your answer.
                </p>
                <h6>
                    <!-- Create an icon wrapped by the fa-stack class -->
                    <span id="view-take-topic-assignment" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    View/Take Topic Assignment
                </h6>
                <p>
                    On the  <strong>Manage your assignments</strong> Page, click <strong>View Assignments</strong> on the <strong>Topic Assignments</strong> section. Navigate to the assignment
                    you want to take on the available topic assignments listed and click <strong>View/Take Assignment</strong>. You are then taken to a new page where you would have your
                    assignment taken.
                    <img src="../public/img/getting_started/assignment-take-topic.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/assignment-take-topic-answer.png" class="img-center img-shadow img-responsive" width="900">
                Enter your answer in the <strong>Answer</strong> box and if you have any file or document to support your answer, click <strong>Browse</strong> to upload it, then click
                <strong>Submit</strong> to submit your answer.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>
