<section>
    <div>
        <h2 id="calendar">Calendar</h2>
        <div>
            <p>This tutorial will walk you through the steps of setting up and viewing an event.</p>
        </div>
        <h3 id="view-event">1. View Events</h3>
        <div class="">
            <p>
                To view an event on ProdigyLms, on the <strong>Menu</strong>; go to
                <strong>Extras > Calendar</strong>. All your event(s) for the <strong>month</strong> is shown on the event calender view.
                <img src="../public/img/getting_started/learner/calendar-month-view.png" class="img-center img-shadow img-responsive" width="900">
            <ul class="course-edit-list">
                <li>
                    To view event by week, click <strong>week</strong> on the event calendar page
                    <img src="../public/img/getting_started/learner/calendar-week-view.png" class="img-center img-shadow img-responsive" width="900">
                </li>
            <li>
                To view event by day, click <strong>day</strong> on the event calendar page
                <img src="../public/img/getting_started/learner/calendar-day-view.png" class="img-center img-shadow img-responsive" width="900">
            </li>
            </ul>
            </p>
        </div>
        <h3 id="add-event">2. Add Event</h3>
        <div class="">
            <p>
                To create or add a new event, click on <strong>Add a new event</strong> on the event calendar page.
                <img src="../public/img/getting_started/learner/calendar-add-new-click.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                As a learner, you can only create a personal event. On the create event page, set all the required fields and click <strong>Create</strong>
                to save your event. A success message is displayed that indicates a successful event creation.
                <img src="../public/img/getting_started/learner/calendar-create-new-event.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="manage-event">3. Manage Events</h3>
        <div class="">
            <p>
                To manage your event(s), click on <strong>Manage Event(s)</strong> on the event calendar page. All available events are then listed.
                <img src="../public/img/getting_started/learner/calendar-manage-event-click.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/calendar-manage-event-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                    <span id="edit-event" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                Edit
            </h6>
            <p>
               To edit an event, navigate to the specified event and click <strong>Edit</strong>. On the <strong>edit event</strong> page, edit all required
                field(s) and click <strong>Update</strong> to effect the changes made on the system.
                <img src="../public/img/getting_started/learner/calendar-manage-event-edit-click.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/calendar-manage-event-edit-update.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                    <span id="delete-event" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                Delete
            </h6>
            <p>
                To delete an event, navigate to the specified event and click <strong>Remove</strong>. A confirm dialog pops up, to delete click <strong>Yes, Continue</strong> or
                <strong>Cancel</strong> to abort.
                <img src="../public/img/getting_started/learner/calendar-manage-event-remove-click.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/calendar-manage-event-remove-confirm.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
    </div>
</section>
