<section>
    <div>
        <h2 id="course">Course</h2>
        <div>
            <p>This tutorial will walk you through you through all your course(s) activities</p>
        </div>
        <h3 id="view-course">1. View Course(s)</h3>
        <div class="">
            <p>
                To view course(s), on the <strong>Menu</strong>, click <strong>Courses > My Courses</strong>.
                On your course list page, you have a card-like view that shows the summary of each of your course
                as well as the total number of your course, your certificates and your trophy.
                <img src="../public/img/getting_started/learner/course-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="course-details">2. Course Details</h3>
        <div class="">
            <p>
                To see the full details of any of your course, click on the course name then you are taken to the full course details page.
                <img src="../public/img/getting_started/learner/course-details-click.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                On the course details page, you are show everything about the course such as the course description, the Course Instructor, total number
                of Enrolled Student, total number of Course Review, the Estimated Course Time and also the course mark breakdown.
                <img src="../public/img/getting_started/learner/course-details-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/learner/course-details-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="course-curriculum" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    Course Curriculum
                </h6>
                <p>
                    To view the course curriculum, click the <strong>Curriculum</strong> tab. The curriculum pane gives you the breakdown of the
                    course in full detail. On the curriculum pane is the full course description, the total number of module available for the course:
                    to which we have the total number of topic under each module. Each module topic is also broken down to enable us an overview of what
                    it entails (Descriptions, total number of multimedia content, total number of assignment and quiz).
                    <img src="../public/img/getting_started/learner/course-details-curriculum-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/learner/course-details-curriculum-2.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="course-review" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Course Review
                </h6>
                <p>
                    To view the course review, click the <strong>Reviews</strong> tab. All the course reviews are display showing the star rating and the comments.
                    <img src="../public/img/getting_started/learner/course-reviews-list.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <ul class="course-edit-list">
                        <li>To Review the course, scroll to  <strong>Rate Course</strong> to set your star rating for the course and type in your comment in the comment box
                            and click <strong>Save Review</strong>. Your review is then automatically added to the existing course reviews.
                        </li>
                        <img src="../public/img/getting_started/learner/course-review-add.png" class="img-center img-shadow img-responsive" width="900">
                        <br/>
                        <img src="../public/img/getting_started/learner/course-review-added-1.png" class="img-center img-shadow img-responsive" width="900">
                        <img src="../public/img/getting_started/learner/course-review-added-2.png" class="img-center img-shadow img-responsive" width="900">
                </ul>
            </div>
        </div>
        <h3 id="course-start">3. Start Course</h3>
        <div class="">
            <p>
                To start a course, on the course details page click on <strong>START COURSE</strong> button.
                <img src="../public/img/getting_started/learner/course-start-click.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                On start course page is the course overview pane on the left side where we have all the course module(s) and each module has all the topic under it.
                Each module topic then has all the media contents available for the topic listed listed. On the right side is the course description pane.
                <img src="../public/img/getting_started/learner/course-start-overview.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                To view any media content, click on the desired media content to be viewed and the media is automatically loaded and played on a media player on the right pane.
                While the media is playing, you can pause/play the media using the Media play controls.
                <img src="../public/img/getting_started/learner/course-start-select-media.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/course-start-select-media-play.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
