<section>
    <div>
        <h2 id="dashboard">Dashboard</h2>
        <div>
            <p>
                ProdigyLMS dashboard is an easy to read, one page summary of the analysis of information. It is an overview of the system at a glance.
                It shows the user basic information that can be interacted with and use to analyze up-to-date information.
            </p>
            <p>
                The Dashboard allows you to see the total number of course you are currently taking, your total number of certificate, as well as the total number of group
                you are in. It lists the summary of all the course you are taking such as the course name, total number of module on the course, course duration, total number
                 of assignment and quiz. You can also go to any of the course page by just clicking on the course name. Another interesting part of the dashboard is that it
                allows you see your progress on each course, the number of assignment and quiz that are gradable and also the course status.
            </p>
        </div>
        <div class="">
            <p>
                <img src="../public/img/getting_started/dashboard-student-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/dashboard-student-2.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/dashboard-student-3.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/dashboard-student-4.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
