<section>
    <div>
        <h2 id="course">Grade Book</h2>
        <div>
            <p>This tutorial will walk you through you through all your grade book</p>
        </div>
        <h3 id="view-gradebook">View Grade Book</h3>
        <div class="">
            <p>
                The <strong>Grade Book</strong> is the breakdown of your course grades which includes the detailed breakdown of
                your <strong>Assignment(s)</strong> grades and <strong>Quiz(zes)</strong> grades. To check your grade book, on the <strong>Menu</strong>,
                click <strong>Grade Book</strong>. You are then shown list of all your registered course(s).
                <img src="../public/img/getting_started/learner/gradebook-course-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                To see the grade breakdown of a course; on the displayed course list, navigate to the course you want to see its grade breakdown and click
                <strong>See Details</strong>. On the course grade breakdown page, all gradable assignment(s) break down is displayed where you can see the
                <strong>Assignment Name</strong>, <strong>Mark Obtained</strong> and <strong>Mark Obtainable</strong>. Also on the page is the grade breakdown
                for all gradable quiz(zes), you will see the <strong>Quiz Name</strong>, <strong>Total Question(s)</strong>, <strong>Total Failed</strong>,
                <strong>Total Passed</strong>, <strong>Status</strong>, <strong>Mark Obtained</strong> and <strong>Mark Obtainable</strong>

                <img src="../public/img/getting_started/learner/gradebook-see-details-click.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/gradebook-see-details.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
