<section>
    <div>
        <h2 id="assignment">Profile</h2>
        <div>
            <p>This tutorial will walk you through the steps in setting up your profile.</p>
        </div>
        <h3 id="view-profile">My Profile</h3>
        <div class="">
            <p>
                To view your profile on ProdigyLMS, on the upper right corner of the page click on the section where you have your name
                and picture and click on <strong>Profile</strong> from the dropdown menu.
                <img src="../public/img/getting_started/learner/profile-view-click.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
            </p>
            <div>
                <h6>
                    <span id="about-me" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    About Me
                </h6>
                <p>
                    To change your about me status, click <strong>Edit</strong> on the about me section. Type in your about me description box provided
                    and click <strong>Update</strong>. Your about me status is then set.
                    <img src="../public/img/getting_started/learner/profile-about-me-edit-click.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/learner/profile-about-me-edit-update.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="update-profile" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Update Profile
                </h6>
                <p>
                    To update your profile such as picture and other basic information, click <strong>Update Profile</strong> tab, on the <strong>General</strong>
                    section click <strong>Choose File</strong> to upload your picture, fill all required fields on the <strong>Contact Info</strong> section
                    and click <strong>Update Info</strong> to effect all changes made on the system.
                    <img src="../public/img/getting_started/learner/profile-update-profile-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/learner/profile-update-profile-2.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="change-password" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    Change Password
                </h6>
                <p>
                    To change your password, click <strong>Change Password</strong> tab, enter your old password, new password, confirm password
                    and click <strong>Change Password</strong> to effect your password change on the system.
                    <img src="../public/img/getting_started/learner/profile-change-password.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="course" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            4
                        </strong>
                    </span>
                    My Course(s)
                </h6>
                <p>
                    To see your course(s), click <strong>Courses</strong> tab, list of your course(s) is then displayed showing <strong>Course Name</strong>,
                    <strong>Course Code</strong> and <strong>Course Description</strong>.
                    <img src="../public/img/getting_started/learner/profile-courses.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
    </div>
    </div>
</section>