<section>
    <h2 id="quiz">Quiz</h2>
    <div>
        <p>This tutorial will walk you through the steps of taking a quiz.
            Taking a quiz in ProdigyLMS can be accomplished with just few steps.</p>
    </div>
    <h3 id="view-quiz">1. View Quiz</h3>
    <div class="">
        <p>
            To take a quiz on the platform you will have to be logged in as a <strong>Learner</strong>.
            On the <strong>Menu</strong>; go to <strong>Quizzes</strong>, you are taken to the Quiz Home page. On the Quiz Home page,
            there are 3 different types of quiz that can be viewed.
            <img src="../public/img/getting_started/learner/quiz-view.png" class="img-center img-shadow img-responsive" width="900">
        </p>
        <ul class="course-edit-list">
            <li>To view <strong>Course Quiz</strong>, click on <strong>View course quiz</strong></li>
            <li>To view <strong>Module Quiz</strong>, click on <strong>View module quiz</strong></li>
            <li>To view <strong>Topic Quiz</strong>, click on <strong>View topic quiz</strong></li>
        </ul>
        <img src="../public/img/getting_started/learner/quiz-view-type.png" class="img-center img-shadow img-responsive" width="900">
        After clicking on the quiz type to be viewed, list of all available quiz(zes) is displayed on the <strong>Quiz List</strong> page with few details about each quiz:
        Course name, Deadline, Duration and Submission breakdown.
        <img src="../public/img/getting_started/learner/quiz-list-available.png" class="img-center img-shadow img-responsive" width="900">
    </div>
    <h3 id="take-quiz">2. Take Quiz</h3>
    <div class="">
        To take a Quiz on ProdigyLms, repeat all the steps above. On the <strong>Quiz List</strong> page, locate the quiz you want to take from the available listed quiz(zes) and
        click on <strong>Take Quiz</strong>.
        <img src="../public/img/getting_started/learner/quiz-take-quiz-click.png" class="img-center img-shadow img-responsive" width="900">
        <p>
            You are then taken to the <strong>Instruction</strong> page, click <strong>Continue</strong> to proceed to taking the quiz.
            <img src="../public/img/getting_started/learner/quiz-take-quiz-instruction.png" class="img-center img-shadow img-responsive" width="900">
        </p>
        <p>
            On the quiz question and answering page, you have your question and the answers, button <strong>Next</strong> and <strong>Previous</strong> to navigate through your questions,
            <strong>Countdown Timer</strong>, and <strong>Submit</strong> to submit your answers when your done taking your Quiz. After submitting your answers, the system immediately mark
            you and displays your grade analysis.
            <img src="../public/img/getting_started/learner/quiz-take-quiz-take.png" class="img-center img-shadow img-responsive" width="900">
            <br/>
            <img src="../public/img/getting_started/learner/quiz-take-quiz-take-finished.png" class="img-center img-shadow img-responsive" width="900">
        </p>
    </div>
</section>
