<section>
    <div>
        <h2 id="Certification">Certification</h2>
        <div>
            <p>
                This module enables an administrator to award certificate to learner(s) after a successful completion of a program.
                Awarding certificate to learner(s) on our ProdigyLMS can be accomplished with just few steps.
            </p>
        </div>
        <h3 id="certify-learner">1. Certify Learner</h3>
        <div class="">
            To certify a learner, on the <strong>Menu</strong>; go to <strong>Certification > Certify</strong>. On the <strong>Award Certificate</strong> page,
            select the learner to which certificate is to be awarded from the learners list under the listed programs and click the <strong>Certify</strong>
            button right beside the learner's name. A confirmation dialog pops up confirming your action, to proceed with certifying the learner click
            <strong>Yes, Continue</strong> or <strong>Cancel</strong> to abort. After a successful certification, the learner's certification status changes to
            <strong>Certified</strong>.
            <img src="../public/img/getting_started/certification-menu.png" class="img-center img-shadow img-responsive" width="900">
            <br/>
            <img src="../public/img/getting_started/certification-certify.png" class="img-center img-shadow img-responsive" width="900">
            <br/>
            <img src="../public/img/getting_started/certification-certified.png" class="img-center img-shadow img-responsive" width="900">
        </div>
        <h3 id="certification-list">2. Certification List</h3>
        <div class="">
            To see the list of awarded/issued certificates, on the <strong>Menu</strong>; go to <strong>Certification > Certification List</strong>. on the
            <strong>Certification List</strong> page, there is a list of all awarded/issued certifications showing the details of the certification such as
            Course name, Learner's name, Certificate file, Date Awarded.
            <img src="../public/img/getting_started/certification-list-menu.png" class="img-center img-shadow img-responsive" width="900">
            <br/>
            <img src="../public/img/getting_started/certification-list.png" class="img-center img-shadow img-responsive" width="900">

            <h6>
                        <span id="download-certificate" class="fa-stack">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x">
                                1
                            </strong>
                        </span>
                Download Certificate
            </h6>
            <p>
                To download a certificate, navigate to the certificate to be downloaded on the certification list and click on the link provided in the
                <strong>Certificate file</strong>. The certificate is then automatically downloaded in a <strong>PDF</strong> format to your local computer.
                Locate the downloaded file location on your local computer as preset by you to view the certificate.
                <img src="../public/img/getting_started/certification-download.png" class="img-center img-shadow img-responsive" width="900">
            </p>

            <h6>
                        <span id="delete-certificate" class="fa-stack">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x">
                                2
                            </strong>
                        </span>
                Delete Certificate
            </h6>
            <p>
                To delete a certificate, navigate to the certificate to be deleted on the certification list and click on <strong>Delete</strong>.
                A confirmation dialog pops up confirming your action, to proceed with deleting certificate click <strong>Yes, Continue</strong> or
                <strong>Cancel</strong> to abort. After a successful deletion, the certificate is then removed from the list.
                <img src="../public/img/getting_started/certification-delete.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>