<section>
    <div>
        <h2 id="course-setting">Course Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps of setting up a course.
                Setting up a course in your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        <h3 id="create-course">1. Create Course</h3>
        <div class="">
            <p>
                To create a course on ProdigyLms, all you need is to login as an <strong>Administrator</strong> or a <strong>Tutor</strong>.
                See <a href="index.php#creating-course">Creating Course</a> to continue.
        </div>
        <h3 id="assign-tutor-to-course">2. Assign Tutor To Course</h3>
        <div class="">
            <p>
                To assign a tutor to course, on the <strong>Menu</strong>; go to <strong>Users > Tutors</strong>. On the Tutors list displayed,
                navigate to the tutor you want to assign a course or courses to and click <strong>Assign course</strong>.
                <img src="../public/img/getting_started/assign-course-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                On the assign course page, you can assign a program to a tutor by selecting the <strong>Select a program</strong> drop down and you can
                assign all the courses on the program to that tutor by setting <strong>Assign all courses in program</strong> to <strong>Yes</strong>.
                You can as well assign individual courses to the tutor by clicking on <strong>Pick courses</strong> and it drops down all the courses available
                from which you can select and click on <strong>Assign Courses</strong> to finish.
                <img src="../public/img/getting_started/assign-course-assign.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <ul class="course-edit-list alert-info">
                <li>To remove a <strong>Tutor</strong> from a course, follow the steps above until you get to the <strong>assign course page</strong>.
                From the <strong>Pick courses</strong> field, click <strong>Cancel</strong> icon on the course you want to devise the tutor of and click on
                    <strong>Assign Courses</strong> to finish.</li>
            </ul>
            <img src="../public/img/getting_started/remove-course-tutor.png" class="img-center img-shadow img-responsive" width="900">
            <p class="alert alert-warning text-warning sep-img">
                <em><span class="fa fa-info-circle"></span> Only an <strong>Administrator</strong> can assign course(s) to tutor(s)</em></span>
            </p>
        </div>
        <h3 id="assign-student-to-course">3. Assigning Student To Course</h3>
        <div class="">
            <p>
                To assign a student course, on the <strong>Menu</strong>; go to <strong>Users > Students</strong>. On the Student list displayed,
                navigate to the learner you want to assign a course or courses to and click <strong>Assign courses</strong>.
                <img src="../public/img/getting_started/assign-course-to-student-1.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                On the assign course page, click on <strong>Pick courses</strong>
                and it drops down all the courses available from which you can select, select the course(s) you want to assign to the student and
                click on <strong>Assign courses</strong> to finish.
                <img src="../public/img/getting_started/assign-course-to-student-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <ul class="course-edit-list alert-info">
                <li>To remove a <strong>Learner</strong> from a course, follow the steps above until you get to the <strong>assign course page</strong>.
                    From the <strong>Pick courses</strong> field, click <strong>Cancel</strong> icon on the course you want to devise the learner of and click on
                    <strong>Assign Courses</strong> to finish.</li>
            </ul>
            <img src="../public/img/getting_started/remove-course-learner.png" class="img-center img-shadow img-responsive" width="900">
            <p class="alert alert-warning text-warning sep-img">
                <em><span class="fa fa-info-circle"></span> Only an <strong>Administrator</strong> can assign course(s) to student(s)</em></span>
            </p>
        </div>
        <h3 id="add-content-to-course">4. Add Content To Course</h3>
        <div class="">
            <p>
                On the <strong>Menu</strong> , click on <strong>Courses > All Courses</strong>. Once the available course(s) are displayed, navigate to the course you
                want to add content to and click <strong>Add Content</strong>. Proceed with the next steps from <a href="index.php#add-course-module">Here</a>
                <img src="../public/img/getting_started/add-content-to-course.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p class="alert alert-warning text-warning sep-img">
                <em><span class="fa fa-info-circle"></span>Only an <strong>Administrator</strong> and <strong>Tutor</strong> can add content to course</em></span>
            </p>

        </div>
        <h3 id="edit-course">5. Edit Course</h3>
        <div class="">
            <p>
                To edit a course, on the <strong>Menu</strong> , click on <strong>Courses > Courses</strong>. Once the available course(s) displayed, navigate to the course you
                want to edit to and click <strong>Edit</strong>.
                <img src="../public/img/getting_started/edit-course-list.png" class="img-center img-shadow img-responsive" width="900">
            <p>
            </p>
            On the <strong>Edit Course</strong> tab, make changes to every necessary field you want to and click <strong>Update Course</strong> to effect
            the changes made.
            <img src="../public/img/getting_started/edit-course-course.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            </p>
            On the <strong>Edit Modules</strong> tab, all available modules for the course are listed. Go to the module you want to edit;
            <img src="../public/img/getting_started/edit-course-module-list.png" class="img-center img-shadow img-responsive" width="900">
            <ul class="course-edit-list">
                <li>Click on <strong>Add Topic</strong> to add a new topic to the module. See <a href="index.php#add-module-topic">this</a> on how to add
                    new topic to module</li>
                <li>
                    <p>Click on <strong>Edit Module Tab</strong> to add a edit the module.
                        On the <strong>New Module</strong> tab, modify all fields that need to be changed and click <strong>Update Module</strong> to effect the changes.
                        You can also create a new topic by clicking <strong>Create new topic in this module</strong> on the right pane of the page.
                        <img src="../public/img/getting_started/edit-course-module.png" class="img-center img-shadow img-responsive" width="900">
                    </p>
                </li>
                <li>Click on <strong>Delete</strong> to remove the module from the course</li>
            </ul>
        </div>
        <h3 id="course-details">6. Course Details</h3>
        <div class="">
            <p>
                After clicking <strong>View Course</strong> in the step above, you are taken to <strong>Course Details</strong> page where you are shown
                everything about the course such as the course description, the number of Course Instructor(s), total number of Enrolled Student, total number
                of Course Review, the Estimated Course Time and also the course mark breakdown.
                <img src="../public/img/getting_started/tutor/course-details-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/tutor/course-details-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="course-curriculum" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    Course Curriculum
                </h6>
                <p>
                    To view the course curriculum, click the <strong>Curriculum</strong> tab. The curriculum pane gives you the breakdown of the
                    course in full detail. On the curriculum pane is the full course description, the total number of module available for the course:
                    to which we have the total number of topic under each module. Each module topic is also broken down to enable us an overview of what
                    it entails (Descriptions, total number of multimedia content, total number of assignment and quiz).
                    <img src="../public/img/getting_started/tutor/course-details-curriculum.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <div class="alert alert-info text-info sep-img">
                    <p><em><span class="fa fa-info-circle">
                      You can add <strong>Assignment</strong>, <strong>Quiz</strong> to topic and also edit <strong>Topic</strong> simply by navigating to the
                        topic and clicking the  appropriate button.
                    </span></em></p>
                </div>
                <p>
                    <img src="../public/img/getting_started/tutor/course-details-curriculum-edit-buttons.png" class="img-center img-shadow img-responsive" width="900">
                </p>

                <h6>
                    <span id="course-review" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Course Review
                </h6>
                <p>
                    To view the course review, click the <strong>Reviews</strong> tab. All the course reviews are display showing the star rating and the comments.
                    <img src="../public/img/getting_started/learner/course-reviews-list.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <ul class="course-edit-list">
                    <li>To Review the course, scroll to  <strong>Rate Course</strong> to set your star rating for the course and type in your comment in the comment box
                        and click <strong>Save Review</strong>. Your review is then automatically added to the existing course reviews.
                    </li>
                    <img src="../public/img/getting_started/learner/course-review-add.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/learner/course-review-added-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/learner/course-review-added-2.png" class="img-center img-shadow img-responsive" width="900">
                </ul>

                <h6>
                    <span id="view-tutor-rating" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    View Tutor Rating
                </h6>
                <p>
                    To view the tutor rating, on the course page under the <strong>Course Instructor</strong> description click <strong>View</strong>.
                    On the tutor list page, click on the name of the tutor whose rating is to be viewed and the rating box showed up from where you can see
                    students' names, images, ratings and comments about the tutor.
                    <img src="../public/img/getting_started/learner/tutor-rating-view-button.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/learner/tutor-rating-reviews.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
    </div>
</section>
