<section>
    <div>
        <h2 id="forum-setting">Forum Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps in setting up a forum.
                Setting up a forum on your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        Follow steps on <a href="../tutor/forum.php">Here</a> to start.
        <!--<p>-->
            <!--Log in as an <strong>Administrator</strong> or a <strong>Tutor</strong>.-->
            <!--On the <strong>Menu</strong>; go to <strong>Forum</strong>, there are 2 types of forums:-->
            <!--<img src="../public/img/getting_started/forum.png" class="img-center img-shadow img-responsive" width="900">-->
        <!--</p>-->
        <!--<h2 id="forum-general">1. General Forum</h2>-->
        <!--<div class="">-->
            <!--<p>-->
                <!--This is a forum for everyone, anyone can create, update and edit a thread, comment on existing thread, and reply to any comment.-->
                <!--Click <strong>Enter</strong> on the <strong>General Forum</strong> pane, you are then taken to the <strong>General Forum</strong> page.-->
                <!--On the page is list of all available General Forum Discussions.-->
                <!--<img src="../public/img/getting_started/forum-general-list.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--</p>-->
            <!--<div>-->
                <!--<h6>-->
                    <!--<span id="forum-general-create" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--1-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Create Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To create a General Forum Discussion, on the General Forum Pane, click <strong>Create a new discussion</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-general-create-click.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--<br/>-->
                    <!--<img src="../public/img/getting_started/forum-general-create.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the Create General Forum Page, enter the <strong>Thread Title</strong> and <strong>Description</strong> in the boxes provide.-->
                    <!--Click <strong>Create</strong> and your Thread is available on everyone's forum page.-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="forum-general-comment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--2-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Comment on Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To comment on a General Forum Discussion, navigate to the discussion you want to comment on and click on <strong>Views/Comments</strong> icon.-->
                    <!--<img src="../public/img/getting_started/forum-general-comment-icon.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the comment pane, type your comment in  <strong>Type your comment here</strong> box and Click <strong>Comment</strong>, everyone can then see-->
                    <!--your comment on that thread.-->
                    <!--<img src="../public/img/getting_started/forum-general-comment.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="forum-general-edit" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--3-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Edit Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To <strong>Edit</strong> General Forum Discussion, navigate to the discussion created by you and click on <strong>Views/Comments</strong> icon.-->
                    <!--<img src="../public/img/getting_started/forum-general-comment-icon.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the view pane, click <strong>Edit</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-general-edit-button.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--Make all the changes you want and Click <strong>Update</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-general-edit.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="forum-general-delete" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--4-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Delete Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To <strong>Delete</strong> General Forum Discussion, navigate to the discussion created by you and click on <strong>Views/Comments</strong> icon.-->
                    <!--<img src="../public/img/getting_started/forum-general-comment-icon.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the view pane, click <strong>Delete</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-general-delete-button.png" class="img-center img-shadow img-responsive" width="900">-->
                   <!--A  Delete confirmation Dialog pops up, click <strong>Yes, Continue</strong> to delete or <strong>Cancel</strong> to abort.-->
                    <!--<img src="../public/img/getting_started/forum-general-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<h2 id="forum-course">2. Course Forum</h2>-->
        <!--<div class="">-->
            <!--<p>-->
                <!--This is strictly for discussions based on assigned/registered courses. Only <strong>Tutor</strong> can create a course-->
                <!--forum thread, discussions here may also be graded. Click <strong>Enter</strong> on the <strong>Course Forum</strong> pane,-->
                <!--you are then taken to the <strong>Course Forum</strong> page. On the page is list of all available Course Forum Discussions.-->
                <!--<img src="../public/img/getting_started/forum-course-list.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--</p>-->
            <!--<div>-->
                <!--<h6>-->
                    <!--<span id="forum-course-create" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--1-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Create Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To create a Course Forum Discussion, on the right pane of the Course Forum Page, click <strong>Create a new Discussion</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-course-create.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the Create Course Forum Page, select <strong>Course</strong> from <strong>Pick course</strong>, enter the <strong>Thread Title</strong>-->
                    <!--and <strong>Description</strong> in the boxes provide. Set <strong>Forum is Gradable</strong> to <strong>On</strong> if you want the thread-->
                    <!--to be gradable and enter <strong>Mark Obtainable</strong> for the thread. Click <strong>Create</strong> and your Thread is available on forum page of every <strong>Learner</strong> taking the course.-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="forum-course-comment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--2-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Comment on Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To comment on a Course Forum Discussion, navigate to the discussion you want to comment on and click on <strong>Views/Comments</strong> icon or <strong>New</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-course-comment-icon.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the comment pane, type your comment in  <strong>Type your comment here</strong> box and Click <strong>Comment</strong>, everyone can then see-->
                    <!--your comment on that thread.-->
                    <!--<img src="../public/img/getting_started/forum-course-comment.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="forum-course-edit" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--3-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Edit Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To <strong>Edit</strong> Course Forum Discussion, navigate to the discussion created by you and click on <strong>Views/Comments</strong> icon.-->
                    <!--<img src="../public/img/getting_started/forum-course-comment-icon.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the view pane, click <strong>Edit</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-course-edit-button.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--Make all the changes you want and Click <strong>Update</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-course-edit.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="forum-course-delete" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--4-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Delete Forum-->
                <!--</h6>-->
                <!--<p>-->
                    <!--To <strong>Delete</strong> a Course Forum Discussion, navigate to the discussion created by you and click on <strong>Views/Comments</strong> icon.-->
                    <!--<img src="../public/img/getting_started/forum-course-comment-icon.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On the view pane, click <strong>Delete</strong>.-->
                    <!--<img src="../public/img/getting_started/forum-course-delete-button.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--A  Delete confirmation Dialog pops up, click <strong>Yes, Continue</strong> to delete or <strong>Cancel</strong> to abort.-->
                    <!--<img src="../public/img/getting_started/forum-course-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>