<section>
    <div>
        <h2 id="Grade">Grade</h2>
        <div>
            <p>This tutorial will walk you through the steps to grade students on your LMS with Prodigy.
        </div>

        Follow steps on <a href="../tutor/grade.php">Here</a> to start.
    </div>
</section>