<section>
    <div>
        <h2 id="">prodigyLIVE</h2>
        <div>
            <p>
                It is a module that  allows tutors schedule/hold live classes. It supports presentations with extended whiteboard capabilities, as well as screen sharing,
                video and audio sharing...Built-in polling makes it easy to engage students.
            </p>
        </div>
        Click <a href="../tutor/prodigyLIVE.php">Here</a> to continue.
    </div>
</section>