<section>
    <div>
        <h2 id="program">Program</h2>
        <div>
            <p>This tutorial will walk you through the steps in creating programs on your LMS with Prodigy.
        </div>

        <h3 id="create-programs">1. Create Programs</h3>
        <div class="">
            <p>
                You can create school programs by navigating to <strong>Program > New Program</strong> on the <strong>MENU</strong>.On the create new program page, you will be required to
                input Program Name, Program description and Attach Courses that would be under the the Program. To save, click on <strong>Create Program</strong>
                <img src="../public/img/getting_started/programs-add-new.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="list-program">2. List Programs</h3>
        <div class="">
            <p>
                You can also view the list of programs to view existing Programs by clicking  <strong> Program > List Programs</strong> on the <strong>MENU</strong>. A list of all programs would be listed showing the
                name of the person who created the Program, an Edit button and a Delete button. A Create New Program button can also be found at the top left corner of the page
                <img src="../public/img/getting_started/programs-list.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="edit-program">3. Edit Program</h3>
        <div class="">
            <p>
                To Edit, navigate to the program to be edited from the listed programs and click on the edit icon, you are then taken to to a page where you can update and make the essential changes.
                To effect changes, click on the update button.
                <img src="../public/img/getting_started/program-edit-button.png" class="img-center img-shadow img-responsive" width="700">
                <br/>
                <img src="../public/img/getting_started/program-edit.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="delete-program">4. Delete Program</h3>
        <div class="">
            <p>
                To delete, navigate to the program to be deleted from the listed programs and click on the Delete icon which brings a pop up question asking if you want the course deleted. To delete
                click <strong>Yes, continue</strong> or <strong>Cancel</strong> to abort operation.
                <img src="../public/img/getting_started/program-delete-button.png" class="img-center img-shadow img-responsive" width="700">
                <br/>
                <img src="../public/img/getting_started/program-delete-confirmation.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>
    </div>
</section>