<section>
    <div>
        <h2 id="school-configuration">User</h2>
        <div>
            <p>This tutorial will walk you through the steps of adding, editing and deleting users.
        </div>

        <h3 id="add-user">1. Add User</h3>
        <div class="">
            <p>
                To add a new user to the platform, on the <strong>MENU</strong> simply click <strong>Users > Add Users</strong>. it takes you to the page where you fill
                the user's details such as Full Name, Email Address, Role of users and Courses assigned to the User. Click <strong>Create User</strong> to add the new user.
                <img src="../public/img/getting_started/user-add-user.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="user-list">2. User List, Edit and Delete User</h3>
        <div class="">
            <div class="sub-head">
                <h6> <span id="list-user" class="fa fa-asterisk">List Users </span></h6>
                <p>
                    To see the list of all available users, on the <strong>MENU</strong> simply click <strong>Users > All Users</strong> , you can get the names of all users of the platform,
                    their email address, the date their account was created, their Role, Phone Number and sex.
                    <img src="../public/img/getting_started/user-user-list.png" class="img-center img-shadow img-responsive" width="700">
                </p>
            </div>

            <div class="sub-head">
                <h6> <span id="edit-user" class="fa fa-asterisk">Edit Users</span></h6>
                <p>
                    On the same page, an Admin can edit the the detail of any student. On the all Users page, click on <strong>Edit</strong> which takes you to the page where you can edit details.
                    Click <strong>Update</strong> after editing to effect changes.
                    <img src="../public/img/getting_started/user-user-edit-button.png" class="img-center img-shadow img-responsive" width="700">
                    <br/>
                    <img src="../public/img/getting_started/user-user-edit.png" class="img-center img-shadow img-responsive" width="700">
                </p>
            </div>

            <div class="sub-head">
                <h6> <span id="delete-user" class="fa fa-asterisk">Delete Users</span></h6>
                <p>
                    On that same <strong>All Users page</strong>, there are delete button that come as a column with user details, Click on Delete, it would ask for a confirmation to delete or cancel request.
                    <img src="../public/img/getting_started/user-delete-button.png" class="img-center img-shadow img-responsive" width="700">
                    <br/>
                    <img src="../public/img/getting_started/user-delete-page.png" class="img-center img-shadow img-responsive" width="700">
                </p>
            </div>
        </div>

        <h2 id="role-and-permission">3. Roles and Permission</h2>
        <div class="">
            <p>
                This feature allows an administrator to create a new role asides the Admin,Tutor and Learner privileges. It also allows the Admin choose what the new role
                would have access to.
                <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/user-role-permission.png" width="700">
                <br/>
                <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/user-role-permission-2.png" width="700">
                <br/>
                <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/user-role-permission-3.png" width="700">
            </p>
            <p class="alert alert-info text-info sep-img">
                <em><span class="fa fa-info-circle"></span>As an admin, you can decide to edit permissions of a user or delete the role.</em>
            </p>
            <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/user-role-permission-4.png" width="700">
        </div>
    </div>
</section>