<section>
    <div>
        <h2 id="announcement-setting">Announcement Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps in setting up an announcement.
                Setting up an announcement on your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        <h3 id="announcement-create">1. Create Announcement</h3>
        <div class="">
                To create an announcement on the platform as an <strong>Administrator</strong> on the <strong>Menu</strong>;
                go to <strong>Extras > Announcements</strong> and click <strong>Add New</strong>.
                <h6>
                        <span id="announcement-create-general" class="fa-stack">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x">
                                1
                            </strong>
                        </span>
                    General Announcement
                </h6>
                <p>
                    On the <strong>Create a new Announcement</strong> page, you can create a <strong>General Announcement</strong> which is visible to everybody
                    on the platform by leaving the <strong> Select for Course Announcement</strong> unselected.
                    <img src="../public/img/getting_started/announcement-create-general.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="announcement-create-course" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Course Announcement
                </h6>
                <p>
                    To create a <strong>Course Announcement</strong>, select <strong> Select for Course Announcement</strong> and choose the course for which announcement
                    is to be created for from the listed available courses.
                    <img src="../public/img/getting_started/announcement-create-course.png" class="img-center img-shadow img-responsive" width="900">
                    Set <strong>Publish Announcement</strong> to <strong>Yes</strong> to make the announcement available, enter <strong>Announcement Title</strong>,
                    <strong>Description</strong> and Click <strong>Create</strong> to create your announcement.
                    <img src="../public/img/getting_started/announcement-create.png" class="img-center img-shadow img-responsive" width="900">
                </p>
        </div>
        <h3 id="announcement-manage">2. Manage Announcement</h3>
        <div class="">
            <p>
              To <strong>View</strong>, <strong>Edit</strong> and <strong>Delete</strong> any announcement, go to <strong>Extras > Announcements</strong>. List of all
                available announcements are then displayed.
                <img src="../public/img/getting_started/tutor/announcement-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="announcement-manage-view" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    View Announcement
                </h6>
                <p>
                    To view an announcement, navigate to the announcement you want to view on the announcement list view and click <strong>Details</strong>. The announcement details
                    are then displayed.
                    <img src="../public/img/getting_started/tutor/announcement-view-button.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/tutor/announcement-view.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="announcement-manage-edit" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Edit Announcement
                </h6>
                <p>
                    To Edit an announcement, navigate to the announcement you want to edit on the announcement list view and click <strong>Edit</strong>. You are then taken to a
                    page where you can make changes to the announcement.
                    <img src="../public/img/getting_started/tutor/announcement-edit-button.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/tutor/announcement-edit.png" class="img-center img-shadow img-responsive" width="900">
                    After making all necessary changes, click <strong>Update</strong> to effect the changes made.
                </p>
                <h6>
                    <span id="announcement-manage-delete" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    Delete Announcement
                </h6>
                <p>
                    To Delete an announcement, navigate to the announcement you want to delete on the announcement list view and click <strong>Delete</strong>.
                    A  Delete confirmation Dialog pops up, click <strong>Yes, Continue</strong> to delete or <strong>Cancel</strong> to abort.
                    <img src="../public/img/getting_started/tutor/announcement-delete-button.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/announcement-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
    </div>
</section>