<section>
    <div>
        <h2 id="assignment-setting">Assignment Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps of setting up an assignment.
                Setting up an assignment in your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        Follow steps on <a href="../tutor/assignment.php">Here</a> to start.
        <!--<h3 id="create-Assignment">1. Create Assignment</h3>-->
        <!--<div class="">-->
            <!--<p>-->
                <!--To create an assignment in ProdigyLms, all you need is to login as an <strong>Administrator</strong> or a <strong>Tutor</strong>.-->
                <!--On the <strong>Menu</strong>; go to <strong>Assignments > Create New</strong>, there are 3 types of assignments that can created:-->
                <!--<img src="../public/img/getting_started/assignment-home.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--</p>-->
            <!--<div>-->
                <!--<h6>-->
                    <!--<span id="create-course-assignment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--1-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Create Course Assignment-->
                <!--</h6>-->
                <!--<p>-->
                    <!--On the create Assignment page, click <strong>Create a course assignment</strong>. Select the-->
                    <!--<strong>Course</strong> you want to create assignment for, enter <strong>Assignment name</strong>, <strong>Total Score</strong>-->
                    <!--and set other <strong>Assignment Parameters</strong> as provided. Click <strong>Create Assignment</strong> to create your Course assignment.-->
                    <!--<img src="../public/img/getting_started/assignment-create-course-1.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--<img src="../public/img/getting_started/assignment-create-course-2.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="create-module-assignment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--2-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Create Module Assignment-->
                <!--</h6>-->
                <!--<p>-->
                    <!--On the create Assignment page, click <strong>Create a module assignment</strong>. Select the<strong>Course</strong> and the <strong>Course Module</strong>-->
                    <!--you want to create assignment for, enter <strong>Assignment name</strong>, <strong>Total Score</strong> and set other <strong>Assignment Parameters</strong>-->
                    <!--as provided. Click <strong>Create Assignment</strong> to create your Course assignment.-->
                    <!--<img src="../public/img/getting_started/assignment-create-module-1.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--<img src="../public/img/getting_started/assignment-create-module-2.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<h6>-->
                    <!--&lt;!&ndash; Create an icon wrapped by the fa-stack class &ndash;&gt;-->
                    <!--<span id="create-topic-assignment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--3-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--Create Topic Assignment-->
                <!--</h6>-->
                <!--<p>-->
                    <!--On the create Assignment page, click <strong>Create a module assignment</strong>. Select the<strong>Course</strong>, <strong>Course Module</strong>-->
                    <!--and <strong>Topic</strong> you want to create assignment for, enter <strong>Assignment name</strong>, <strong>Total Score</strong> and set other-->
                    <!--<strong>Assignment Parameters</strong> as provided. Click <strong>Create Assignment</strong> to create your Course assignment.-->
                    <!--<img src="../public/img/getting_started/assignment-create-topic-1.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--<img src="../public/img/getting_started/assignment-create-topic-2.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<h3 id="view-take-assignment">2. View/Take Assignment</h3>-->
        <!--<div class="">-->
            <!--<p>-->
                <!--To take an Assignment on ProdigyLms, all you need is to login as an <strong>Student</strong>. On the <strong>Menu</strong>; go to-->
                <!--<strong>Assignments > My Assignments</strong> and on the <strong>Manage Your Assignment Page</strong>, there are 3 types assignment a student-->
                <!--can view and take:-->
                <!--<img src="../public/img/getting_started/assignment-take.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--</p>-->
            <!--<div>-->
                <!--<h6>-->
                    <!--<span id="view-take-course-assignment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--1-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--View/Take Course Assignment-->
                <!--</h6>-->
                <!--<p>-->
                    <!--On the  <strong>Manage your assignments</strong> Page, click <strong>View Assignments</strong> on the <strong>Course Assignment</strong> section. Navigate to the assignment-->
                    <!--you want to take on the available course assignments listed and click <strong>View/Take Assignment</strong>. You are then taken to a new page where you would have your-->
                    <!--assignment taken.-->
                    <!--<img src="../public/img/getting_started/assignment-take-course.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp; &nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-take-course-answer.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Enter your answer in the <strong>Answer</strong> box and if you have any file or document to support your answer, click <strong>Browse</strong> to upload it, then click-->
                <!--<strong>Submit</strong> to submit your answer.-->
                <!--</p>-->
                <!--<h6>-->
                    <!--<span id="view-take-module-assignment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--2-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--View/Take Module Assignment-->
                <!--</h6>-->
                <!--<p>-->
                    <!--On the  <strong>Manage your assignments</strong> Page, click <strong>View Assignments</strong> on the <strong>Module Assignments</strong> section. Navigate to the assignment-->
                    <!--you want to take on the available module assignments listed and click <strong>View/Take Assignment</strong>. You are then taken to a new page where you would have your-->
                    <!--assignment taken.-->
                    <!--<img src="../public/img/getting_started/assignment-take-module.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp; &nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-take-module-answer.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Enter your answer in the <strong>Answer</strong> box and if you have any file or document to support your answer, click <strong>Browse</strong> to upload it, then click-->
                <!--<strong>Submit</strong> to submit your answer.-->
                <!--</p>-->
                <!--<h6>-->
                    <!--&lt;!&ndash; Create an icon wrapped by the fa-stack class &ndash;&gt;-->
                    <!--<span id="view-take-topic-assignment" class="fa-stack">-->
                        <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                        <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                        <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                        <!--<strong class="fa-stack-1x">-->
                            <!--3-->
                        <!--</strong>-->
                    <!--</span>-->
                    <!--View/Take Topic Assignment-->
                <!--</h6>-->
                <!--<p>-->
                    <!--On the  <strong>Manage your assignments</strong> Page, click <strong>View Assignments</strong> on the <strong>Topic Assignments</strong> section. Navigate to the assignment-->
                    <!--you want to take on the available topic assignments listed and click <strong>View/Take Assignment</strong>. You are then taken to a new page where you would have your-->
                    <!--assignment taken.-->
                    <!--<img src="../public/img/getting_started/assignment-take-topic.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp; &nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-take-topic-answer.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Enter your answer in the <strong>Answer</strong> box and if you have any file or document to support your answer, click <strong>Browse</strong> to upload it, then click-->
                <!--<strong>Submit</strong> to submit your answer.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<h3 id="Manage-Assignment">3. Manage Assignment (Edit, Delete, View Submission and Grade)</h3>-->
        <!--<div class="">-->
            <!--<p>-->
                <!--As an <strong>Administrator</strong> or a <strong>Tutor</strong>, on the <strong>Menu</strong>; go to-->
                <!--<strong>Assignments > All</strong>. On the Manage Assignment Page, there are 3 types of assignments that can be managed:-->
                <!--<img src="../public/img/getting_started/assignment-manage.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<div>-->
                    <!--<h6>-->
                            <!--<span id="manage-course-assignment" class="fa-stack">-->
                            <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                                <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                                <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                                    <!--<strong class="fa-stack-1x">-->
                                        <!--1-->
                                    <!--</strong>-->
                            <!--</span>-->
                        <!--Manage Course Assignment-->
                    <!--</h6>-->
            <!--<p>-->
                <!--On the Manage Assignment page, click <strong>Manage Assignment</strong> on the <strong>Course Assignment</strong> section. On the-->
                <!--<strong>Course Assignment</strong> page, all available course assignments are listed, you can then navigate to the assignment you-->
                <!--want to manage:-->
                <!--<ul class="course-edit-list">-->
                    <!--<li>-->
                        <!--<h6>Edit:</h6>-->
            <!--<p>-->
                <!--Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the assignment.-->
                <!--<img src="../public/img/getting_started/assignment-manage-course-edit.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--<p>&nbsp; &nbsp;</p>-->
            <!--<img src="../public/img/getting_started/assignment-manage-course-edit-edit-1.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--<img src="../public/img/getting_started/assignment-manage-course-edit-edit-2.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--After making changes to the assignment, click <strong>Update Assignment</strong> to make effect to the changes made on the system.-->
            <!--</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h6>Delete:</h6>-->
                <!--<p>-->
                    <!--Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action-->
                    <!--<img src="../public/img/getting_started/assignment-manage-course-delete.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp; &nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-course-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Click <strong>Yes</strong> to delete the assignment or <strong>Cancel</strong> to abort.-->
                <!--</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h6>View and Grade Submitted Assignment:</h6>-->
                <!--<p>-->
                    <!--A click on <strong>View Submissions</strong> allows you have an overview of all submissions made for an assignment at the time.-->
                    <!--<img src="../public/img/getting_started/assignment-manage-course-view.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp;&nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-course-view-list.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
               <!--<p>-->
                   <!--To grade any of the submitted assignment, click <strong>See Details</strong> the specified submission pane.-->
                   <!--<img src="../public/img/getting_started/assignment-manage-course-view-list-details.png" class="img-center img-shadow img-responsive" width="900">-->
                   <!--On submission details page, click <strong>Grade</strong> to grade the submission and if you want to add comment to the submission,-->
                   <!--enter your comment in the <strong>Type your comment</strong> box and click <strong>Add comment</strong>-->
                   <!--<img src="../public/img/getting_started/assignment-manage-course-grade.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp;&nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-course-grade-dialog.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Enter the score in the <strong>Score</strong> box and the click <strong>Grade</strong> to grade the submission.-->
               <!--</p>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</p>-->
            <!--<h6>-->
                            <!--<span id="manage-module-assignment" class="fa-stack">-->
                                <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                                <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                                <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                                <!--<strong class="fa-stack-1x">-->
                                    <!--2-->
                                <!--</strong>-->
                             <!--</span>-->
                <!--Manage Module Assignment-->
            <!--</h6>-->
            <!--<p>-->
                <!--On the Manage Assignment page, click <strong>Manage Assignments</strong> on the <strong>Module Assignments</strong> section. On the-->
                <!--<strong>Module Assignment</strong> page, all available module assignments are listed, you can then navigate to the assignment you-->
                <!--want to manage:-->
                <!--<ul class="course-edit-list">-->
                    <!--<li>-->
                        <!--<h6>Edit:</h6>-->
            <!--<p>-->
                <!--Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the assignment. Select the <strong>course</strong>-->
                <!--and the <strong>module</strong> you want to edit its assignment.-->
                <!--<img src="../public/img/getting_started/assignment-manage-module-edit.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--<p>&nbsp; &nbsp;</p>-->
            <!--<img src="../public/img/getting_started/assignment-manage-module-edit-edit-1.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--<img src="../public/img/getting_started/assignment-manage-module-edit-edit-2.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--After making changes to the assignment, click <strong>Update Assignment</strong> to make effect to the changes made on the system.-->
            <!--</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h6>Delete:</h6>-->
                <!--<p>-->
                    <!--Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action-->
                    <!--<img src="../public/img/getting_started/assignment-manage-module-delete.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp; &nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-module-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Click <strong>Yes</strong> to delete the assignment or <strong>Cancel</strong> to abort.-->
                <!--</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h6>View and Grade Submitted Assignment:</h6>-->
                <!--<p>-->
                    <!--A click on <strong>view submissions</strong> allows you have an overview ay all submissions made for an assignment at the time.-->
                    <!--<img src="../public/img/getting_started/assignment-manage-module-view.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp;&nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-module-view-list.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<p>-->
                    <!--To grade any of the submitted assignment, click <strong>See Details</strong> the specified submission pane.-->
                    <!--<img src="../public/img/getting_started/assignment-manage-module-view-list-details.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On submission details page, click <strong>Grade</strong> to grade the submission and if you want to add comment to the submission,-->
                    <!--enter your comment in the <strong>Type your comment</strong> box and click <strong>Add comment</strong>-->
                    <!--<img src="../public/img/getting_started/assignment-manage-module-grade.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp;&nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-module-grade-dialog.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Enter the score in the <strong>Score</strong> box and the click <strong>Grade</strong> to grade the submission.-->
                <!--</p>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</p>-->
            <!--<h6>-->
                <!--&lt;!&ndash; Create an icon wrapped by the fa-stack class &ndash;&gt;-->
                <!--<span id="manage-topic-assignment" class="fa-stack">-->
                                <!--&lt;!&ndash; The icon that will wrap the number &ndash;&gt;-->
                                <!--<span class="fa fa-circle-o fa-stack-2x"></span>-->
                    <!--&lt;!&ndash; a strong element with the custom content, in this case a number &ndash;&gt;-->
                                <!--<strong class="fa-stack-1x">-->
                                    <!--3-->
                                <!--</strong>-->
                            <!--</span>-->
                <!--Manage Topic Assignment-->
            <!--</h6>-->
            <!--<p>-->
                <!--On the Manage Assignment page, click <strong>Manage Assignments</strong> on the <strong>Topic Assignments</strong> section. On the-->
                <!--<strong>Module Assignment</strong> page, all available topic assignments are listed, you can then navigate to the assignment you-->
                <!--want to manage:-->
                <!--<ul class="course-edit-list">-->
                    <!--<li>-->
                        <!--<h6>Edit:</h6>-->
            <!--<p>-->
                <!--Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the assignment. Select the <strong>course</strong>-->
                <!--, the <strong>module</strong> and the <strong>Topic</strong> you want to edit its assignment.-->
                <!--<img src="../public/img/getting_started/assignment-manage-topic-edit.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--<p>&nbsp; &nbsp;</p>-->
            <!--<img src="../public/img/getting_started/assignment-manage-topic-edit-edit-1.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--<img src="../public/img/getting_started/assignment-manage-topic-edit-edit-2.png" class="img-center img-shadow img-responsive" width="900">-->
            <!--After making changes to the assignment, click <strong>Update Assignment</strong> to make effect to the changes made on the system.-->
            <!--</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h6>Delete:</h6>-->
                <!--<p>-->
                    <!--Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action-->
                    <!--<img src="../public/img/getting_started/assignment-manage-topic-delete.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp; &nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-topic-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Click <strong>Yes</strong> to delete the assignment or <strong>Cancel</strong> to abort.-->
                <!--</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<h6>View and Grade Submitted Assignment:</h6>-->
                <!--<p>-->
                    <!--Click on <strong>View Submissions</strong>, you are then taken to a page where you will see all the submissions for the assignments.-->
                    <!--<img src="../public/img/getting_started/assignment-manage-topic-view.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp;&nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-topic-view-list.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--</p>-->
                <!--<p>-->
                    <!--To grade any of the submitted assignment, click <strong>See Details</strong> the specified submission pane.-->
                    <!--<img src="../public/img/getting_started/assignment-manage-topic-view-list-details.png" class="img-center img-shadow img-responsive" width="900">-->
                    <!--On submission details page, click <strong>Grade</strong> to grade the submission and if you want to add comment to the submission,-->
                    <!--enter your comment in the <strong>Type your comment</strong> box and click <strong>Add comment</strong>-->
                    <!--<img src="../public/img/getting_started/assignment-manage-topic-grade.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--<p>&nbsp;&nbsp;</p>-->
                <!--<img src="../public/img/getting_started/assignment-manage-topic-grade-dialog.png" class="img-center img-shadow img-responsive" width="900">-->
                <!--Enter the score in the <strong>Score</strong> box and the click <strong>Grade</strong> to grade the submission.-->
                <!--</p>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</p>-->
        <!--</div>-->
        </p>
    </div>
    </div>
</section>
