<section>
    <div>
        <h2 id="school-configuration">School Configuration</h2>
        <div>
            <p>This tutorial will walk you through the steps of configuring your LMS with Prodigy. As an existing admin, all you need to do is to update your school's
                configuration using the <strong>Configuration</strong> menu.</p>
            <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/configuration-button.png" width="700">
        </div>

        <h3 id="school-properties">1. Setting School properties</h3>
        <div class="">
            <p>On the <strong>MENU</strong> simply click <strong>Configuration > School Properties</strong>.</p>
            <div class="sub-head">
                <h6> <span id="school-settings" class="fa fa-asterisk">School Settings </span></h6>
                <p>
                    On the School settings page, edit all required fields such as School name, School Email, About Your School and a click <strong>Upload Image</strong>
                    button to change the school's logo. Click the <strong>Update</strong> to effect changes made.
                </p>
                <img src="../public/img/getting_started/configure-school-settings-1.png" class="img-center img-shadow img-responsive" width="700">
                <img src="../public/img/getting_started/configure-school-settings-2.png" class="img-center img-shadow img-responsive" width="700">
            </div>

            <div class="sub-head">
                <h6> <span id="create-users" class="fa fa-asterisk">Create Users </span></h6>
                <p>
                    You may have to create new users after your basic setup. Here is another way of creating a new user. On the school properties page, click the button <strong>2</strong>
                    <img src="../public/img/getting_started/configure-school-create-user-button.png" class="img-center img-shadow img-responsive" width="700">
                </p>
                <p>
                    On the add user page, include all details; Full Name, Email Address, Select Role, Courses to Assign. Click on the create button to effect the update
                    <img src="../public/img/getting_started/create-user.png" class="img-center img-shadow img-responsive" width="700">
                </p>
                <p>
                    You might have a list of users and their details typed out as an excel document. All you need is to click on the <strong>Upload Users</strong> tab, drop the excel file or click on the
                    box in the left pane and the system automatically create and save each user on the system. There is also a template demo that should be followed by clicking <strong>Download Template</strong>
                    on the right pane.
                    <img src="../public/img/getting_started/upload-user.png" class="img-center img-shadow img-responsive" width="700">
                </p>
                <p class="alert alert-warning text-warning sep-img">
                    <em><span class="fa fa-info-circle"></span> The user email must be a valid and functioning email because the user's password and validation link will be sent to it.</em>
                </p>
            </div>

            <div class="sub-head">
                <h6> <span id="create-courses" class="fa fa-asterisk">Create Courses </span></h6>
                <p>
                    You may have to create new users after your basic setup. Here is another way of creating a new user. On the school properties page, click the button <strong>3</strong>
                    <img src="../public/img/getting_started/configure-school-create-course-button.png" class="img-center img-shadow img-responsive" width="700">
                </p>
                <p>
                    On the create course page, apply the Course Name, Course Code, Duration, Upload course cover image and Course Overview. Click the <strong>Create Course</strong> to effect. Please note
                    that you cannot create a Module or a Topic except you create a Course.
                </p>
                <img src="../public/img/getting_started/configuration-create-courses-1.png" class="img-center img-shadow img-responsive" width="700">
                <img src="../public/img/getting_started/configuration-create-courses-2.png" class="img-center img-shadow img-responsive" width="700">
            </div>
        </div>

        <h2 id="school-session">School Sessions</h2>
        <div class="">
            <p>
                You can close and start a new session by clicking <strong>Configuration > School Session</strong> on the menu. on the School session page click <strong>Start a new Session</strong>.
                <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/configure-school-start-new-session-button.png" width="700">
                On the Start new session, fill in the session name and write a brief description about the session. Click <strong>Start Session</strong> to effect Change.
                <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/configuration-session.png" width="700">
            </p>
            <p class="alert alert-warning text-warning sep-img">
                <em><span class="fa fa-info-circle"></span>  Active sessions will be closed. You cancel this operation if you do not want it to be closed</em>
            </p>
        </div>
    </div>
</section>