<section>
    <div>
        <h2 id="dashboard">Dashboard</h2>
        <div>
            <p>
                ProdigyLMS dashboard is an easy to read, one page summary of the analysis of information. It is an overview of the system at a glance.
                It shows the user basic information that can be interacted with and use to analyze up-to-date information.
            </p>
        </div>
        <h3 id="dashboard-admin">Admin Dashboard</h3>
        <div class="">
            <p>
                <img src="../public/img/getting_started/dashboard-admin-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/dashboard-admin-2.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/dashboard-admin-3.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>