<section>
    <div>
        <h2 id="home">Home</h2>
        <div>
            <p>
                This is a fast and easy to access button that leads you to some important features without having to go through a long process.
                Features included on the Home Page are- User Management, Course Management, Course Groups, Notifications, System Settings, Discussion, Profile and Quiz
                <img src="../public/img/getting_started/home.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>