<section>
    <div>
        <h2 id="prodigyLIVE">prodigyLIVE</h2>
        <div>
            <p>This tutorial will walk you through the step up and manage conference call on your LMS with Prodigy.
        </div>
        Click <a href="../tutor/prodigyLIVE.php">Here</a> to continue.
    </div>
</section>