<p class="lead">
    Prodigy's Learning Management System (LMS) allows you to create a professional online training portal
    to deliver e-learning your way. From setting up a virtual classroom, to delivering videos and assessing student
    pass rates, Prodigy's LMS does it all. Prodigy provides the LMS platform: where you’ll your own eLearning content.
<p>To access your LMS, please go to:</p>
<div>
    <pre class="no-scroll">https://[your_prodigylms_domain].prodigy.com</pre>
</div>
</p>
<section>
    <div>
        <h2 id="basic-setup">Basic Setup</h2>
        <div>
            <p>This tutorial will walk you through the steps of setting up your LMS with Prodigy and enrol students on to them. This is the bare minimum function,
                however you will be able to customise everything later.</p>
            <span>Setting up your ProdigyLMS is a very simple task that can be accomplished with just few steps.
                Simply log in as an <strong>Administrator</strong> from the login page.</span>
            <img src="../public/img/getting_started/login.png" class="img-center img-shadow img-responsive">
            <p>
                After a successful log in, you are then taken to <strong>Administrator's Home Page </strong> where you are shown the overview of how to start the system
                configuration.
                <img src="../public/img/getting_started/admin-home.png" class="img-center img-shadow img-responsive" width="700">
            </p>
            <span>Click on <strong>Start Now</strong> to begin your ProdigyLMS Setup</span>
        </div>
        <h3 id="configure-your-school">1. Configure Your School</h3>
        <div class="">
            <p>Configuring your school can be accomplished with a few clicks. Enter your <strong>School Name</strong>,<strong> School Email</strong> and upload your
                <strong>School Logo</strong> on the <strong>Configure Pane</strong>. Click <strong>Update</strong> to effect changes made, a pop-up displays showing
                “settings were saved”. You have finished configuring your school and you may proceed to the next phase.”
            </p>
            <img class="img-center img-shadow img-responsive" src="../public/img/getting_started/configure-school.png" width="700">
            <p class="alert alert-warning text-warning sep-img"><em><span class="fa fa-info-circle"></span> Your School Email must be a functional email.</em></p>
        </div>
        <h3 id="creating-user">2. Creating User</h3>
        <div class="">
            <p>
                Creating a student is easy. On the <strong>Menu</strong> , click on <strong>Users > Add Users</strong>. Enter the required fields such as Full Name, Email Address,
                Select Role (Admin, Tutor or Student). Click <strong>Create User</strong>.
            </p>
            <img src="../public/img/getting_started/create-user.png" class="img-center img-shadow img-responsive" width="700">
            <p>You can also add user from the upload user tab. All you need is to click on the <strong>Upload Users</strong> tab, download the upload template (Excel File)
                by clicking <strong>Download Template</strong> on the right pane. After preparing the list on Excel file , all you need is just to drop it or click on the
                box in the left pane and the system automatically create and save each user on the system.
            </p>
            <img src="../public/img/getting_started/upload-user.png" class="img-center img-shadow img-responsive" width="700">
            <p class="alert alert-warning text-warning sep-img">
                <em><span class="fa fa-info-circle"></span> The user email must be a valid and functioning email because the user's password and validation link will be sent to it.</em></span>
            </p>
        </div>
        <h3 id="creating-course">3. Creating Courses</h3>
        <div class="">
            <p>
                Creating a course on ProdigyLMS is as well easy and straight forward. On the <strong>Menu</strong> , click on <strong>Courses > New</strong>. Enter the required fields such as Course Name, Course Code,
                Course Duration, upload your course cover image and enter Course Overview. Click <strong>Create Course</strong>.
            </p>
            <img src="../public/img/getting_started/create-course.png" class="img-center img-shadow img-responsive" width="700">
            <p>Courses can also be added from the <strong>Upload from Excel tab</strong>. All you need do is click on the <strong>Upload from Excel tab</strong>. Download the upload template (Excel File)
                by clicking <strong>Download Template</strong> on the right pane. After preparing the course on Excel file , all you need is just to drop it or click on the
                box in the left pane and the system automatically create and save each course.
            </p>
            <img src="../public/img/getting_started/upload-course.png" class="img-center img-shadow img-responsive" width="700">
            <div class="sub-head">
                <h6> <span id="add-course-module" class="fa fa-asterisk"> Add Course Module</span></h6>
                <p>
                    After Successfully creating your course, the system automatically takes you to the page where you add module(s) to your newly created course.
                    Adding module(s) to course is very simple and straight forward. All you need to do is just to supply
                    <strong>Module Name</strong> and <strong>Description</strong> in the fields provided and click <strong>Create Module</strong> to add the module to the
                    course.
                </p>
                <img src="../public/img/getting_started/add-course-module.png" class="img-center img-shadow img-responsive" width="700">
            </div>
            <div class="sub-head">
                <h6> <span id="add-module-topic" class="fa fa-asterisk"> Add Module Topic</span></h6>
                <p>
                    After creating your module, the next thing you will need to do is to add topic(s) to it. You might as well do that later but if you want to add topic(s)
                    immediately after creating module, all you need to do is to enter basic topic information on the <strong>Topic Basic Information</strong> Box.
                    <img src="../public/img/getting_started/add-topic-1.png" class="img-center img-shadow img-responsive" width="700">
                </p>
                <p>
                    The page also allows for adding media content such as <strong>(Video,Audio and Notes)</strong> to your topic. To add media content(s) to the topic, click
                    <strong> Add video, notes and documents click to expand</strong>, the box then expands and you can click or drop media content to add content(s). Select
                    <strong>Check to allow course contents download</strong> to enable the content(s) to be downloadable. Click <strong>Save Topic</strong> then you have your
                    topic added
                    to your module.
                    <img src="../public/img/getting_started/add-topic-2.png" class="img-center img-shadow img-responsive" width="700">
                </p>
                <div class="alert alert-warning text-warning sep-img">
                    <p><em><span class="fa fa-info-circle">
                      If you have an existing media content, a topic can be attached to it by clicking on
                      <strong> attach topic to existing contents</strong> on the <strong>Add videos, notes and supporting contents</strong> box and the system takes you to a new
                      page where you will able attach your topic to an existing contents.
                    </span></em></p>
                    <p><em><span class="fa fa-info-circle">
                     You can also view the course details by clicking on <strong>Preview Course</strong> on the right pane of the page.
                    </span></em></p>
                </div>
            </div>
        </div>
    </div>
</section>
