
/* ===== General Style ===== */
body, html {
  height: 100vh !important;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif !important;
}

.transparent-segment {
  background-color: rgba(255,255,255,.15) !important;
}

.nav-item-hover:hover {
  background-color: transparent !important;
  color: #1F7FC6 !important;
}

.nav-item-hover-no-bg:hover {
  background-color: transparent !important;
}

.nav-item-sign-in-hover:hover {
  background-color: #1F7FC6 !important;
}

.micro-right-menu {display:none !important;}

.transparent-segment {
  width: 90% !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media all and (max-width: 520px) {
  .micro-right-menu {display:inherit !important;}
  .main-right-menu {display:none !important;}
  .main-logo {width: 80%}
  #doc-label {display:none !important;}
}



.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.primary-color-bg {
  background-color: #3c4994 !important;
}

.primary-color {
  color: #344c92 !important;
}

.text-grey {
  color: #808080 !important;
}

.margin-tb-30 {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

.margin-tb-60 {
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

.letter-spacing {
  letter-spacing: 1px;
}

.quicksand-font {
  font-family: 'Quicksand', sans-serif !important;
}

.text-shadow {
  text-shadow: 0px 3px 3px rgba(0,0,0,0.2), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.tagline-color {
  color: #0080e0 !important;
}

.transparent-bg-color {
  background-color: transparent !important;
}

.box-shadow-class {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.grey {
  color: #777;
}

.white {
  color: #fff !important;
}

.hidden {
  display: none !important;
}

/* ===== Image Background ===== */
.image-bg-pro {
  background: url('../img/bg-pro-dark.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 100%;*/
}

/*.image-bg-overlay {*/
  /*width: 100%;*/
  /*height: 100% !important;*/
  /*background: rgba(0,0,0,0.4);*/
/*}*/

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex-top {
  display: flex;
  justify-content: flex-start;
}

.flex-bottom {
  display: flex;
  justify-content: flex-end;
}


footer {
  bottom: 0 !important;
  padding: .6em 0 2em 0 !important;
  margin-bottom: 0;

}