<section>
    <div>
        <h2 id="course">Course</h2>
        <div>
            <p>This tutorial will walk you through you through all your course(s) activities</p>
        </div>
        <h3 id="view-course">1. View Course(s)</h3>
        <div class="">
            <p>
                To view course(s), on the <strong>Menu</strong>, click <strong>Courses > My Courses</strong>.
                On your course list page, you have list of all available course.
                <img src="../public/img/getting_started/learner/course-list.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/learner/course-list-1.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="course-details">2. Course Details</h3>
        <div class="">
            <p>
                To see the full details of any of your course, click on the course name then you are taken to the full course details page.
                <img src="../public/img/getting_started/learner/course-details-click.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                On the course details page, you are shown information about the course such as the course description, duration, number of Modules, assignments,
                quizzes, forum, tutors and learners.
                <img src="../public/img/getting_started/learner/course-details-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/learner/course-details-2.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/learner/course-details-3.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="begin-course">3. Begin Course</h3>
        <div class="">
            <p>
                To begin a course, on the course details page click on <strong>Begin Course</strong> button.
                <img src="../public/img/getting_started/learner/course-begin-click.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                On start course page is the course overview pane on the left side where we have all the course module(s) and each module has all the topic under it.
                Each module topic then has all the media contents available for the topic listed listed. On the right side is the course description pane.
                <img src="../public/img/getting_started/learner/course-start-overview.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                To view any media content, click on the desired media content to be viewed and the media is automatically loaded and played on a media player on the right pane.
                While the media is playing, you can pause/play the media using the Media play controls.
                <img src="../public/img/getting_started/learner/course-start-select-media.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/course-start-select-media-play.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="pay">4. Make Payment</h3>
        <div class="">
            <p>
                Go to <strong>Payment Page</strong> to see the details  or click  <a href="../learner/payment.php">Here</a>.
            </p>
    </div>
</section>
