<section>
    <div>
        <h2 id="payment">Payment</h2>
        <div>
            <p>This tutorial will walk you through the steps of making payment for a course</p>
        </div>
        <h3 id="make-payment">Make Payment</h3>
        <div class="">
            <p>
                For courses that require payments before enrollment, You can can do that with few clicks. Payment has to be a Card payment.<br/>
                When you click on the desired course, It redirects you to a page where you can start the course. Click on <strong>Begin Course</strong>,
                and you are automatically redirected to a page to begin your online payment.<br/>
                <img src="../public/img/getting_started/learner/payment-course-page.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/learner/payment-begin-course.png" class="img-center img-shadow img-responsive" width="900"><br/>
                Select your preferred payment platform, Your card details would be required to complete payments after which you would be redirected to
                your bank to complete your payment.<br/>
                <img src="../public/img/getting_started/learner/payment-payment-click.png" class="img-center img-shadow img-responsive" width="900">

                <h3 id="make-payment-with-card">1. Make Payment with Card</h3>
                <img src="../public/img/getting_started/learner/payment-payment-with-card.png" class="img-center img-shadow img-responsive" width="900">
                <h3 id="make-payment-with-ussd">2. Make Payment with Bank Code(USSD)</h3>
                <img src="../public/img/getting_started/learner/payment-payment-with-ussd.png" class="img-center img-shadow img-responsive" width="900">
                <h3 id="make-payment-with-qr">3. Make Payment with QR code</h3>
                <img src="../public/img/getting_started/learner/payment-payment-with-qr.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
