/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.sub-header {
  color: #004a3d !important;
}

.line-height {
  line-height: 1.5em;
}

.auto-margin {
  margin-right: auto;
  margin-left: auto;
}

.letter-space-1 {
  letter-spacing: 2px;
}

.md-line-height {
  line-height: 1.5;
}

.tb-20-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-size {
  width: 150px;
}

.blue {
  color: #337ab7 !important;
}

.blue-bg {
  background-color: #337ab7 !important;
}

.navbar-toggle > span.glyphicon {
  color: #fff !important;
}

ul.nav.navbar-nav.navbar-right > li > a {
  font-size: 14px !important;
}

.footer-page-links > li > a,
.footer-menu > li > a,
.footer-menu > li {
  font-size: 14px;
}

.font-w-300 {
  font-weight: 300 !important;
}

.font-w-400 {
  font-weight: 400 !important;
}

.font-w-500 {
  font-weight: 500 !important;
}

.font-w-600 {
  font-weight: 600 !important;
}

.font-w-700 {
  font-weight: 700 !important;
}

.box-shadow-class {
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.text-muted {
    color: #868e96 !important;
}

.text-grey {
    color: #fffbe8;
}

.alternative-color {
    color: #fdfdfd !important;
}

.jumbotron-color {
  background-color: #1bf5c3;
}

.nav-bg {
  background-color: #fff !important;
  box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.2);
}

.bd-footer-links > li {
  display: inline;
}

ul.bd-footer-links {
  padding-left: 0;
}

.bd-footer {
  background-color: #f7f7f7;
  padding: 30px 20px;
}

.image-bg {
  background: url('../img/document_banner.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 350px;
}

#image-bg-overlay {
  position: absolute;
  width: 100%;
  height: 350px;
  background: rgba(0,0,0,0.4);

}
.text-shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.basic-text-shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.footer-page-links{list-style:none;margin:0;text-align:left;}
.footer-page-links li{display:inline-block;padding:0 8px}
.footer-page-links a:hover,.footer-page-links a.active{color:#7d7d7d;text-decoration:none}

.site-footer{position:relative;background-color:#f5f5f5;color:#777;padding:30px 15px}
.site-footer div>p:last-child{margin-bottom:0}
.site-footer .container,.site-footer .container-fluid{position:relative}
.site-footer #scroll-up{
  position:absolute;top:-47px;right:0;color:#ccc;background-color:#f5f5f5;display:inline-block;width:34px;height:34px;border-radius:100%;text-align:center;font-size:21px;-webkit-transition:.2s ease;transition:.2s ease
}
.site-footer #scroll-up:hover{color:#999}.site-footer #scroll-up>.fa{vertical-align:top}
.footer-menu{list-style:none;margin:0;padding:0;text-align:right}
.footer-menu li{display:inline-block;padding:0 8px}
.footer-menu a{color:rgba(125,125,125,0.7);font-weight:500;-webkit-transition:.2s ease;transition:.2s ease}
.footer-menu a:hover,.footer-menu a.active{color:#7d7d7d;text-decoration:none}@media screen and (max-width: 767px){.site-footer{text-align:center}  .footer-menu{text-align:center;margin-top:20px}}