<!-- Sidebar -->
<aside class="sidebar sidebar-boxed sidebar-dark">
    <a class="sidebar-brand" href="/"><img src="../public/img/getting_started/logo.png" class="logo" alt="ProdigyLMS Logo"></a>
    <ul class="nav sidenav dropable">
        <li><a href="#prodigy-lms">Prodigy LMS</a> </li>
        <li>
            <a href="index.php">Landing</a>
        </li>
        <li>
            <a href="course.php">Courses</a>
            <ul>
                <li><a href="#course-list">Course List</a></li>
                <li><a href="#take-course">Take Course</a></li>
                <li><a href="#make-payment">Make Payment</a></li>
            </ul>
        </li>
        <li>
            <a href="program.php">Programs</a>
            <ul>
                <li><a href="#program-list">Program List</a></li>
                <li><a href="#view-program">View Program</a></li>
            </ul>
        </li>
        <li>
            <a href="account.php">Account</a>
            <ul>
                <li><a href="#create-account">Create Account</a></li>
                <li><a href="#sign-in">Sign In</a></li>
                <li><a href="#forgot-password">Forgot Password?</a></li>
            </ul>
        </li>
    </ul>
</aside>
<!-- END Sidebar -->
