<section>
    <div>
        <h2 id="account">Account</h2>
        <div>
            <p>This tutorial will walk you through the steps involve in setting up account on Prodigy LMS.</p>
        </div>
        <h3 id="create-account">1. Create Account</h3>
        <div class="">
            <p>
                This feature is for a new User who newly wants to join the platform. Click Create Account Button.
                On the Create Account Page, you will be required to fill in your details such as Name, Email Address,
                Password. When You Create Account, an activation confirmation would be sent to your Email address

                <img src="../public/img/getting_started/general/landing-create-account.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-create-account-confirmation.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-create-account-email-confirmation.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p class="alert alert-warning text-warning sep-img"><em><span class="fa fa-info-circle"></span> You must go to your email to activate your account.</em></p>
        </div>
        <h3 id="sign-in">2. Sign In</h3>
        <div class="">
            <p>
                After activating your account via your email, on the Landing Page, click on the <strong>Sign In</strong>. With a click on the button, you are on the Sign In page.
                Put in your login details and click <strong>Log In</strong>. It takes you to your Account.

                <img src="../public/img/getting_started/general/landing-account-sign-in-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-account-sign-in.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="forgot-password">3. Forgot Password?</h3>
        <div class="">
            <p>
                As an existing user, if you forget your password, ProdigyLMS has got them covered. Go to Sign In Page, click on Forgot Password?
                A page where you'd be required to fill in your email comes up. After filling your email address click <strong>Submit</strong> and u get an instant mail
                that has the Reset Password Button. Go to your email and click on it and you have a new page that you would be able to set up another mail
                <img src="../public/img/getting_started/general/landing-account-forget-password.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-account-forget-password-2.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-account-forget-password-mail.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p>
                If you remember your password, there is no need resetting your password  just click <strong>Log In</strong> on the <strong>Reset Password</strong> page.
                <img src="../public/img/getting_started/general/landing-account-password-reset.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>