<section>
    <div>
        <h2 id="Courses">Courses</h2>
        <div>
            <p>This tutorial will walk you through the steps taking a course on Prodigy LMS.</p>
        </div>
        <h3 id="course-list">1. Course List</h3>
        <div class="">
            <p>
                One of the features of the landing page include the <strong>Courses</strong>.
                Click <strong>Courses</strong> on the landing page, you are then taken to a page where you have list of all available courses from which you can choose.
                <img src="../public/img/getting_started/general/landing-course-list-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-course-list-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/general/landing-course-list-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="take-course">2. Take Course</h3>
        <div class="">
            <p>
                To take a course, on the <strong>course list</strong>, navigate to your desired course. A click takes you to a page where you see all available course information and materials.
                Click on <strong>Begin Course</strong>, you would be required to Sign Up if you are a new user or Sign In as a already existing user

                <img src="../public/img/getting_started/general/landing-course-begin-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-course-details.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="make-payment">3. Make Payment</h3>
        <div class="">
            <p>
                From the <strong>landing page</strong>, you can make payments for any course that has a price tag. For you to be able to do this, you must be a registered user of the platform. From the
                <strong>Landing page</strong> or on the <strong>Course List</strong> Page, Click on the desired Course which takes you to a <strong>Begin Course</strong> page. On this Page, Click on
                <strong>Begin Course</strong> and it takes you <strong>Login Page</strong> and after a successful log in, you are provided with a page where you can begin your payment process and click
                <strong>Pay securely with Paystack</strong>. Follow the instructions strictly.

                <img src="../public/img/course-payment.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>