<section>
    <div>
        <h2 id="Program">Programs</h2>
        <div>
            <p>This tutorial will walk you through the steps involve in putting in for a program on Prodigy LMS.</p>
        </div>
        <h3 id="program-list">1. Program List</h3>
        <div class="">
            <p>
                This feature shows a list of available programs. Your Program determines what courses you would be able to choose.
                Click <strong>Programs</strong> on the landing page, you are then taken to a page where you have list of all available programs from which you can choose.
                <img src="../public/img/getting_started/general/landing-program-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/general/landing-course-program.png" class="img-center img-shadow img-responsive" width="900">
                <!--<img src="../public/img/getting_started/general/landing-course-list-2.png" class="img-center img-shadow img-responsive" width="900">-->
            </p>
        </div>
        <h3 id="view-program">2. View Program</h3>
        <div class="">
            <p>
                To view Programs Click the program you want to view and it brings out a list of courses under the selected program.

                <img src="../public/img/getting_started/general/landing-program-view-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/general/landing-program-view-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <p class="alert alert-warning text-warning sep-img">
                <em><span class="fa fa-info-circle"></span> Before you can choose a program, you must have an activated account</em></span>
            </p>
        </div>
    </div>
</section>