<p class="lead">
    Prodigy's Learning Management System (LMS) allows you to create a professional online training portal
    to deliver e-learning your way. From setting up a virtual classroom, to delivering videos and assessing student
    pass rates, Prodigy's LMS does it all. Prodigy provides the LMS platform: where you’ll own your eLearning content.
<p>To access your LMS, please go to:</p>
<div>
    <pre class="no-scroll">https://corporate.prodigylms.com</pre>
</div>

<section>
    <div>
        <h2 id="landing-page">Landing page</h2>
        <div>
            <p class="lead>">
                The landing page of corporate prodigyLMS Landing page is the first page you reach after you have entered the site's URL. It gives
                a breakdown of virtually all the resources you are about to enjoy on the platform and also you get to access your space on the platform.
                <img src="../public/img/getting_started/general/landing-page-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/general/landing-page-2.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/general/landing-page-3.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/general/landing-page-4.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
