<section>
    <div>
        <h2 id="assignment-setting">Assignment Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps of setting up an assignment.
                Setting up an assignment in your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        <h3 id="create-Assignment">1. Create Assignment</h3>
        <div class="">
            <p>
                To create an assignment on ProdigyLms; as a <strong>Tutor</strong>, on the <strong>Menu</strong>; go to
                <strong>Assignments > New Assignments</strong> and as an <strong>Admin</strong> on the <strong>Menu</strong>;
                go to <strong>Assignments > Create New</strong>, there are 3 types of assignments that can created:
                <img src="../public/img/getting_started/tutor/assignment-home.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="create-course-assignment" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    Create Course Assignment
                </h6>
                <p>
                    On the create Assignment page, click <strong>Create a course assignment</strong>. Select the
                    <strong>Course</strong> you want to create assignment for, enter <strong>Assignment name</strong>, <strong>Total Score</strong>
                    and set other <strong>Assignment Parameters</strong> as provided. Click <strong>Create Assignment</strong> to create your Course assignment.
                    <img src="../public/img/getting_started/tutor/assignment-create-course-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/tutor/assignment-create-course-2.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="create-module-assignment" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Create Module Assignment
                </h6>
                <p>
                    On the create Assignment page, click <strong>Create a module assignment</strong>. Select the<strong>Course</strong> and the <strong>Course Module</strong>
                    you want to create assignment for, enter <strong>Assignment name</strong>, <strong>Total Score</strong> and set other <strong>Assignment Parameters</strong>
                    as provided. Click <strong>Create Assignment</strong> to create your Course assignment.
                    <img src="../public/img/getting_started/tutor/assignment-create-module-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/tutor/assignment-create-module-2.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <!-- Create an icon wrapped by the fa-stack class -->
                    <span id="create-topic-assignment" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    Create Topic Assignment
                </h6>
                <p>
                    On the create Assignment page, click <strong>Create a module assignment</strong>. Select the<strong>Course</strong>, <strong>Course Module</strong>
                    and <strong>Topic</strong> you want to create assignment for, enter <strong>Assignment name</strong>, <strong>Total Score</strong> and set other
                    <strong>Assignment Parameters</strong> as provided. Click <strong>Create Assignment</strong> to create your Course assignment.
                    <img src="../public/img/getting_started/tutor/assignment-create-topic-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/tutor/assignment-create-topic-2.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
        <h3 id="Manage-Assignment">2. Manage Assignment (Edit, Delete, View Submission and Grade)</h3>
        <div class="">
            <p>
                As an <strong>Administrator</strong> or a <strong>Tutor</strong>, on the <strong>Menu</strong>; go to
                <strong>Assignments > All</strong>. On the Manage Assignment Page, there are 3 types of assignments that can be managed:
                <img src="../public/img/getting_started/tutor/assignment-manage.png" class="img-center img-shadow img-responsive" width="900">
                <div>
                    <h6>
                            <span id="manage-course-assignment" class="fa-stack">
                            <!-- The icon that will wrap the number -->
                                <span class="fa fa-circle-o fa-stack-2x"></span>
                                <!-- a strong element with the custom content, in this case a number -->
                                    <strong class="fa-stack-1x">
                                        1
                                    </strong>
                            </span>
                        Manage Course Assignment
                    </h6>
            <p>
                On the Manage Assignment page, click <strong>Manage Assignment</strong> on the <strong>Course Assignment</strong> section. On the
                <strong>Course Assignment</strong> page, all available course assignments are listed, you can then navigate to the assignment you
                want to manage:
                <ul class="course-edit-list">
                    <li>
                        <h6>Edit:</h6>
            <p>
                Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the assignment.
                <img src="../public/img/getting_started/tutor/assignment-manage-course-edit.png" class="img-center img-shadow img-responsive" width="900">
            <p>&nbsp; &nbsp;</p>
            <img src="../public/img/getting_started/tutor/assignment-manage-course-edit-edit-1.png" class="img-center img-shadow img-responsive" width="900">
            <img src="../public/img/getting_started/tutor/assignment-manage-course-edit-edit-2.png" class="img-center img-shadow img-responsive" width="900">
            After making changes to the assignment, click <strong>Update Assignment</strong> to make effect to the changes made on the system.
            </p>
            </li>
            <li>
                <h6>Delete:</h6>
                <p>
                    Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action
                    <img src="../public/img/getting_started/tutor/assignment-manage-course-delete.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-course-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">
                Click <strong>Yes</strong> to delete the assignment or <strong>Cancel</strong> to abort.
                </p>
            </li>
            <li>
                <h6>View and Grade Submitted Assignment:</h6>
                <p>
                    A click on <strong>View Submissions</strong> allows you have an overview of all submissions made for an assignment at the time.
                    <img src="../public/img/getting_started/tutor/assignment-manage-course-view.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-course-view-list.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <p>
                    To grade any of the submitted assignment, click <strong>See Details</strong> the specified submission pane.
                    <img src="../public/img/getting_started/tutor/assignment-manage-course-view-list-details.png" class="img-center img-shadow img-responsive" width="900">
                    On submission details page, click <strong>Grade</strong> to grade the submission and if you want to add comment to the submission,
                    enter your comment in the <strong>Type your comment</strong> box and click <strong>Add comment</strong>
                    <img src="../public/img/getting_started/tutor/assignment-manage-course-grade.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-course-grade-dialog.png" class="img-center img-shadow img-responsive" width="900">
                Enter the score in the <strong>Score</strong> box and the click <strong>Grade</strong> to grade the submission.
                </p>
            </li>
            </ul>
            </p>
            <h6>
                            <span id="manage-module-assignment" class="fa-stack">
                                <!-- The icon that will wrap the number -->
                                <span class="fa fa-circle-o fa-stack-2x"></span>
                                <!-- a strong element with the custom content, in this case a number -->
                                <strong class="fa-stack-1x">
                                    2
                                </strong>
                             </span>
                Manage Module Assignment
            </h6>
            <p>
                On the Manage Assignment page, click <strong>Manage Assignments</strong> on the <strong>Module Assignments</strong> section. On the
                <strong>Module Assignment</strong> page, all available module assignments are listed, you can then navigate to the assignment you
                want to manage:
                <ul class="course-edit-list">
                    <li>
                        <h6>Edit:</h6>
            <p>
                Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the assignment. Select the <strong>course</strong>
                and the <strong>module</strong> you want to edit its assignment.
                <img src="../public/img/getting_started/tutor/assignment-manage-module-edit.png" class="img-center img-shadow img-responsive" width="900">
            <p>&nbsp; &nbsp;</p>
            <img src="../public/img/getting_started/tutor/assignment-manage-module-edit-edit-1.png" class="img-center img-shadow img-responsive" width="900">
            <img src="../public/img/getting_started/tutor/assignment-manage-module-edit-edit-2.png" class="img-center img-shadow img-responsive" width="900">
            After making changes to the assignment, click <strong>Update Assignment</strong> to make effect to the changes made on the system.
            </p>
            </li>
            <li>
                <h6>Delete:</h6>
                <p>
                    Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action
                    <img src="../public/img/getting_started/tutor/assignment-manage-module-delete.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-module-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">
                Click <strong>Yes</strong> to delete the assignment or <strong>Cancel</strong> to abort.
                </p>
            </li>
            <li>
                <h6>View and Grade Submitted Assignment:</h6>
                <p>
                    A click on <strong>view submissions</strong> allows you have an overview ay all submissions made for an assignment at the time.
                    <img src="../public/img/getting_started/tutor/assignment-manage-module-view.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-module-view-list.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <p>
                    To grade any of the submitted assignment, click <strong>See Details</strong> the specified submission pane.
                    <img src="../public/img/getting_started/tutor/assignment-manage-module-view-list-details.png" class="img-center img-shadow img-responsive" width="900">
                    On submission details page, click <strong>Grade</strong> to grade the submission and if you want to add comment to the submission,
                    enter your comment in the <strong>Type your comment</strong> box and click <strong>Add comment</strong>
                    <img src="../public/img/getting_started/tutor/assignment-manage-module-grade.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-module-grade-dialog.png" class="img-center img-shadow img-responsive" width="900">
                Enter the score in the <strong>Score</strong> box and the click <strong>Grade</strong> to grade the submission.
                </p>
            </li>
            </ul>
            </p>
            <h6>
                <!-- Create an icon wrapped by the fa-stack class -->
                <span id="manage-topic-assignment" class="fa-stack">
                                <!-- The icon that will wrap the number -->
                                <span class="fa fa-circle-o fa-stack-2x"></span>
                    <!-- a strong element with the custom content, in this case a number -->
                                <strong class="fa-stack-1x">
                                    3
                                </strong>
                            </span>
                Manage Topic Assignment
            </h6>
            <p>
                On the Manage Assignment page, click <strong>Manage Assignments</strong> on the <strong>Topic Assignments</strong> section. On the
                <strong>Module Assignment</strong> page, all available topic assignments are listed, you can then navigate to the assignment you
                want to manage:
                <ul class="course-edit-list">
                    <li>
                        <h6>Edit:</h6>
            <p>
                Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the assignment. Select the <strong>course</strong>
                , the <strong>module</strong> and the <strong>Topic</strong> you want to edit its assignment.
                <img src="../public/img/getting_started/tutor/assignment-manage-topic-edit.png" class="img-center img-shadow img-responsive" width="900">
            <p>&nbsp; &nbsp;</p>
            <img src="../public/img/getting_started/tutor/assignment-manage-topic-edit-edit-1.png" class="img-center img-shadow img-responsive" width="900">
            <img src="../public/img/getting_started/tutor/assignment-manage-topic-edit-edit-2.png" class="img-center img-shadow img-responsive" width="900">
            After making changes to the assignment, click <strong>Update Assignment</strong> to make effect to the changes made on the system.
            </p>
            </li>
            <li>
                <h6>Delete:</h6>
                <p>
                    Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action
                    <img src="../public/img/getting_started/tutor/assignment-manage-topic-delete.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-topic-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">
                Click <strong>Yes</strong> to delete the assignment or <strong>Cancel</strong> to abort.
                </p>
            </li>
            <li>
                <h6>View and Grade Submitted Assignment:</h6>
                <p>
                    Click on <strong>View Submissions</strong>, you are then taken to a page where you will see all the submissions for the assignments.
                    <img src="../public/img/getting_started/tutor/assignment-manage-topic-view.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-topic-view-list.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <p>
                    To grade any of the submitted assignment, click <strong>See Details</strong> the specified submission pane.
                    <img src="../public/img/getting_started/tutor/assignment-manage-topic-view-list-details.png" class="img-center img-shadow img-responsive" width="900">
                    On submission details page, click <strong>Grade</strong> to grade the submission and if you want to add comment to the submission,
                    enter your comment in the <strong>Type your comment</strong> box and click <strong>Add comment</strong>
                    <img src="../public/img/getting_started/tutor/assignment-manage-topic-grade.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/assignment-manage-topic-grade-dialog.png" class="img-center img-shadow img-responsive" width="900">
                Enter the score in the <strong>Score</strong> box and the click <strong>Grade</strong> to grade the submission.
                </p>
            </li>
            </ul>
            </p>
        </div>
        <h3 id="plagiarism-check">3. Plagiarism Check</h3>
        <div>
            <P>
                This is a feature on the platform that helps optimized vetting of learners' submission contents to catch & curb plagiarism.
            </P>
            <p>
                Follow the steps to grading an assignment from <strong>management assignment</strong> above.
                On the submission details page, navigate to the response you want to check plagiarism for and check <strong>Check plagiarism</strong>
                 button beside the response. The <strong>Plagiarism Checker</strong> pane is then displayed showing the plagiarism details of the content.
                <img src="../public/img/getting_started/tutor/assignment-plagiarism-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/tutor/assignment-plagiarism-checker.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
