<section>
    <div>
        <h2 id="content-manager">Content Manager</h2>
        <div>
            <p>
                This tutorial will walk you through the step up and Create a library of content that can be added to modules while creating courses.
            </p>
        </div>

        <h3 id="add-content">1. Add Content</h3>
        <div class="">
            <p>
                This feature enables Administrator/Tutor to set up a library of content. To add contents, on the <strong>Menu</strong>, go to
                <strong> Content Manager > Content List</strong>. On the content library page, click on <strong>Add New</strong>.
                <img src="../public/img/getting_started/tutor/content-manager-add-content-button.png" class="img-center img-shadow img-responsive" width="700">
                On the new content page, add the content name and duration in the appropriate boxes, drag/drop files from your PC to the upload course contents pane
                or click <strong>Browse Files</strong> to add contents, enter tags separated by commas in the tags box and check <strong>Check to allow content's download</strong> field to make the contents downloadable. Click on
                <strong>Save</strong> button to save content.
                <img src="../public/img/getting_started/tutor/content-manager-add-content-1.png" class="img-center img-shadow img-responsive" width="700">
                <img src="../public/img/getting_started/tutor/content-manager-add-content-2.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="upload-content">2. Upload Content</h3>
        <div class="">
            <p>
                This allows for single or multiple upload of file. To upload, on the <strong>Menu</strong>, go to <strong> Content Manager > Upload Content</strong>.
                On the upload file page, drag/drop files from your PC to the upload pane or click the pane to add contents, your uploads are then automatically saved.
                <img src="../public/img/getting_started/tutor/content-manager-upload-content.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="map-contents">3. Map Contents</h3>
        <div class="">
            <p>
                This particular feature allows contents to be mapped to topic. To map content, on the <strong>Menu</strong>, go to <strong> Content Manager > Attach topic to existing contents</strong>.
                On the content page, select course name, module name, topic name and select content(s) to be mapped from the select content drop down. Click <strong>Map Contents</strong> to complete
                the process.
                <img src="../public/img/getting_started/tutor/content-manager-map-content-1.png" class="img-center img-shadow img-responsive" width="700">
                <img src="../public/img/getting_started/tutor/content-manager-map-content-2.png" class="img-center img-shadow img-responsive" width="700">
            </p>
            <div class="alert alert-info text-info sep-img">
                <p><em><span class="fa fa-info-circle">
                      You must have uploaded contents, and created topics first
                    </span></em></p>
            </div>
        </div>
    </div>
</section>