<section>
    <div>
        <h2 id="course-setting">Course Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps of setting up a course.
                Setting up a course in your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        <h3 id="create-course">1. Create Course</h3>
        <div class="">
            <p>
                To create a course on ProdigyLms, all you need is to login as a <strong>Tutor</strong>.
                See <a href="../admin/index.php#creating-course">Creating Course</a> to continue.
        </div>
        <h3 id="view-course">2. View Course(s)</h3>
        <div class="">
            <p>
                To view course(s), on the <strong>Menu</strong>, click <strong>Courses > My Courses</strong>.
                On your course list page, you have a card-like view of all your course(s). Navigate to the course you want to view
                and click <strong>View Course</strong>.
                <img src="../public/img/getting_started/tutor/course-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="course-details">3. Course Details</h3>
        <div class="">
            <p>
                After clicking <strong>View Course</strong> in the step above, you are taken to <strong>Course Details</strong> page where you are shown
                everything about the course such as the course description, the number of Course Instructor(s), total number of Enrolled Student, total number
                of Course Review, the Estimated Course Time and also the course mark breakdown.
                <img src="../public/img/getting_started/tutor/course-details-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/tutor/course-details-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="course-curriculum" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    Course Curriculum
                </h6>
                <p>
                    To view the course curriculum, click the <strong>Curriculum</strong> tab. The curriculum pane gives you the breakdown of the
                    course in full detail. On the curriculum pane is the full course description, the total number of module available for the course:
                    to which we have the total number of topic under each module. Each module topic is also broken down to enable us an overview of what
                    it entails (Descriptions, total number of multimedia content, total number of assignment and quiz).
                    <img src="../public/img/getting_started/tutor/course-details-curriculum.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <div class="alert alert-info text-info sep-img">
                    <p><em><span class="fa fa-info-circle">
                      You can add <strong>Assignment</strong>, <strong>Quiz</strong> to topic and also edit <strong>Topic</strong> simply by navigating to the
                        topic and clicking the  appropriate button.
                    </span></em></p>
                </div>
                <p>
                    <img src="../public/img/getting_started/tutor/course-details-curriculum-edit-buttons.png" class="img-center img-shadow img-responsive" width="900">
                </p>

                <h6>
                    <span id="course-review" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Course Review
                </h6>
                <p>
                    To view the course review, click the <strong>Reviews</strong> tab. All the course reviews are display showing the star rating and the comments.
                    <img src="../public/img/getting_started/learner/course-reviews-list.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <ul class="course-edit-list">
                    <li>To Review the course, scroll to  <strong>Rate Course</strong> to set your star rating for the course and type in your comment in the comment box
                        and click <strong>Save Review</strong>. Your review is then automatically added to the existing course reviews.
                    </li>
                    <img src="../public/img/getting_started/learner/course-review-add.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/learner/course-review-added-1.png" class="img-center img-shadow img-responsive" width="900">
                    <img src="../public/img/getting_started/learner/course-review-added-2.png" class="img-center img-shadow img-responsive" width="900">
                </ul>

                <h6>
                    <span id="view-tutor-rating" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    View Tutor Rating
                </h6>
                <p>
                    To view the tutor rating, on the course page under the <strong>Course Instructor</strong> description click <strong>View</strong>.
                    On the tutor list page, click on the name of the tutor whose rating is to be viewed and the rating box showed up from where you can see
                    students' ratings and comments about the tutor.
                    <img src="../public/img/getting_started/learner/tutor-rating-view-button.png" class="img-center img-shadow img-responsive" width="900">
                    <br/>
                    <img src="../public/img/getting_started/learner/tutor-rating-reviews.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
        <h3 id="edit-course">4. Edit Course</h3>
        <div class="">
            <p>
                To edit a course, on the <strong>Course Details</strong> page , click on <strong>Edit Icon</strong> in front the course name.
                <img src="../public/img/getting_started/tutor/course-edit-icon.png" class="img-center img-shadow img-responsive" width="900">
            <p>
            </p>
            On the <strong>Edit Course</strong> tab, make changes to every necessary field you want to and click <strong>Update Course</strong> to effect
            the changes made.
            <img src="../public/img/getting_started/tutor/course-edit-course.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            </p>
            On the <strong>Edit Modules</strong> tab, all available modules for the course are listed. Go to the module you want to edit;
            <img src="../public/img/getting_started/tutor/course-edit-module.png" class="img-center img-shadow img-responsive" width="900">
            <h6>
                    <span id="add-module" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                Add Module
            </h6>
            <p>
                To add module to the course, click on <strong>New Module</strong>. On the create module page, supply Module Name and Description in
                the fields provided and click <strong>Create Module</strong> to add the module to the course.
                <img src="../public/img/getting_started/tutor/course-add-module.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                    <span id="edit-module" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                Edit Module
            </h6>
            <p>
                To edit a module, navigate to the module to be edited and click on <strong>Edit Module</strong>. On the edit module page, make all
                necessary change(s) and click <strong>update Module</strong> to effect the changes made.
                <img src="../public/img/getting_started/tutor/course-module-edit-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/tutor/course-module-edit.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                    <span id="add-topic" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                Add Topic
            </h6>
            <p>
                To add a topic, navigate to the module you want to add course and click on <strong>Add Topic</strong>.
                <img src="../public/img/getting_started/tutor/course-module-add-topic-button.png" class="img-center img-shadow img-responsive" width="900">
                Follow the steps on <a href="../admin/index.php#add-module-topic">Here</a> to continue.
            </p>
            <h6>
                    <span id="delete-module" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            4
                        </strong>
                    </span>
                Delete Module
            </h6>
            <p>
                To delete a module, navigate to the module to be deleted and click on <strong>Delete</strong>. On the delete confirmation page, click <strong>Yes</strong>
                to delete or <strong>Cancel</strong> to discard.
                <img src="../public/img/getting_started/tutor/course-module-delete-button.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/tutor/course-module-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                    <span id="set-grade" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            5
                        </strong>
                    </span>
                Set Course Grade
            </h6>
            <p>
                To configure how marks will be awarded in a course, on the right pane of the course page locate <strong>How this course is graded</strong> box and click <strong>CHAGE THIS</strong>.
                On the grade configuration page, input the marks as appropriate in the fields available and click <strong>Save</strong>.
                <img src="../public/img/getting_started/tutor/course-grade-setting-pane.png" class="img-center img-shadow img-responsive" width="900">
                <br/>
                <img src="../public/img/getting_started/tutor/course-grade-setting.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
