<section>
    <div>
        <h2 id="course_group-setting">Course Group Settings</h2>
        <div>
            <p>This tutorial will walk you through the steps in setting up an announcement.
                Setting up Course Group(s) on your ProdigyLMS can be accomplished with just few steps.</p>
        </div>
        <h3 id="course_group-create">1. Create Course Group</h3>
        <div class="">
            <p>
                To create Course Group(s) on the platform as a <strong>Tutor</strong> or an <strong>Administrator</strong>.
                On the <strong>Menu</strong>; go to <strong>Course Group > New Group</strong>.
                On the <strong>Course Group</strong> page, a list of all available course(s) is displayed showing few information about each course.
                Navigate to the course you want to create group for and click <strong>New Group</strong>
                <img src="../public/img/getting_started/tutor/course_group-new-button.png" class="img-center img-shadow img-responsive" width="900">
                On the <strong>Create new group</strong> page, enter <strong>Group Name</strong>, <strong>Description</strong> and pick group members from
                the list of <strong>Course Learners</strong> provided in the <strong>Pick group members</strong> box. Click <strong>Create Group</strong> to
                create your new Course Group.
                <img src="../public/img/getting_started/tutor/course_group-new-create.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
        <h3 id="course_group-manage">2. Manage Course Group</h3>
        <div class="">
            <p>
                To <strong>View</strong>, <strong>Edit</strong> and <strong>Delete</strong> any announcement, go to <strong>Course Group > List Groups</strong>. List of all
                available Course Group(s) is then displayed.
                <img src="../public/img/getting_started/tutor/course_group-list.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <div>
                <h6>
                    <span id="course_group-manage-view" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    View Course Group
                </h6>
                <p>
                    To see details about a Course Group, navigate to the Course Group you want to view on the Course Group list view and click <strong>Details</strong>. The Course Group details
                    are then displayed.
                    <img src="../public/img/getting_started/tutor/course_group-view-button.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/tutor/course_group-view.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="course_group-manage-edit" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Edit Course Group
                </h6>
                <p>
                    To Edit a Course Group, navigate to the Course Group you want to edit on the Course Group list view and click <strong>Edit</strong>. You are then taken to a
                    page where you can make changes to the Course Group.
                    <img src="../public/img/getting_started/tutor/course_group-edit-button.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp;&nbsp;</p>
                <img src="../public/img/getting_started/tutor/course_group-edit.png" class="img-center img-shadow img-responsive" width="900">
                After making all necessary changes, click <strong>Update Group</strong> to effect the changes made.
                </p>
                <h6>
                    <span id="course_group-manage-delete" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    Delete Course Group
                </h6>
                <p>
                    To Delete a Course Group, navigate to the Course Group you want to delete on the Course Group list view and click <strong>Trash</strong>.
                    A  Delete confirmation Dialog pops up, click <strong>Yes, Continue</strong> to delete or <strong>Cancel</strong> to abort.
                    <img src="../public/img/getting_started/tutor/course_group-delete-button.png" class="img-center img-shadow img-responsive" width="900">
                <p>&nbsp; &nbsp;</p>
                <img src="../public/img/getting_started/tutor/course_group-delete-confirm.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
    </div>
</section>