<section>
    <div>
        <h2 id="dashboard">Dashboard</h2>
        <div>
            <p>
                ProdigyLMS dashboard is an easy to read, one page summary of the analysis of information. It is an overview of the system at a glance.
                It shows the user basic information that can be interacted with and use to analyze up-to-date information.
            </p>
            <p>
                The Dashboard allows you to see the total number of courses assigned to you, total number of assignments and quizzes set by you, as well as the total
                course groups created by you. It also give a brief details of your course(s) such as the course name, the course code and total number of learner taking it.
                You also provided with a details of recent assignment(s); the assignment name, number of assignment submission(s) and the assignment deadline.
                On the dashboard again is the recent quiz(zes) and recent assignment submissions(s) summaries.
            </p>
        </div>
        <div class="">
            <p>
                <img src="../public/img/getting_started/tutor/dashboard.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
</section>
