<section>
    <div>
        <h2 id="Grade">Grade</h2>
        <div>
            <p>This tutorial will walk you through the steps to grade students on your LMS with Prodigy.
        </div>

        <h3 id="grade-student">1. Grade Student</h3>
        <div class="">
            <p>
                This feature enables Administrator/Tutor to grade students. To grade, on the <strong>Menu</strong>, go to <strong> Grade > grade</strong>. On the pick a course,
                pick a course you want to grade students on. After selecting the course, move on to click on <strong>Grade</strong>. on the Grade student page, grade the student an
                then click on <strong>Grade</strong> to save input. A confirmation notification would show if grading was successful.
                <img src="../public/img/getting_started/grade-pick-a-course-page.png" class="img-center img-shadow img-responsive" width="700">
                <br/>
                <img src="../public/img/getting_started/grade-student-page.png" class="img-center img-shadow img-responsive" width="700">
                <br/>
                <img src="../public/img/getting_started/grade-success-notification.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="view-grade">2. View Grade</h3>
        <div class="">
            <p>
                To view Grade; on the <strong>MENU</strong>, go to <strong>Grade > View Grade</strong>. It takes you to the page where you get to select the course you would like to view its grading then click
                on <strong>View Grades</strong>.
                <img src="../public/img/getting_started/grade-view-grades-button.png" class="img-center img-shadow img-responsive" width="700">
                <br/>
                <img src="../public/img/getting_started/grade-view-grades-page.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>

        <h3 id="see-grade-breakdown">3. See Grade Breakdown</h3>
        <div class="">
            <p>
                From the view grade page, there a button name see breakdown, this button allows you to see the breakdown of students cummulative grade.
                <img src="../public/img/getting_started/grade-see-breakdown-button.png" class="img-center img-shadow img-responsive" width="700">
                <br/>
                <img src="../public/img/getting_started/grade-see-breakdown-page.png" class="img-center img-shadow img-responsive" width="700">
            </p>
        </div>
    </div>
</section>