<section>
    <div>
        <h2 id="features">Other Features</h2>
        <div>
            <p>This tutorial will walk you through how to use those features that are not directly visible on ProdigyLMS.</p>
        </div>
        <div class="">
            <div>
                <h6>
                    <span id="messages" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                    Messages
                </h6>
                <p>
                    To see your messages, click on the <strong>Envelope</strong> icon at the upper right corner of the page. You can then proceed to
                    viewing your <strong>Inbox</strong>, <strong>Sent</strong>, <strong>Archived</strong> and even <strong>All</strong> messages by clicking
                    the appropriate button on the dropdown menu.
                    <img src="../public/img/getting_started/tutor/others-message.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="notification" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                    Notifications
                </h6>
                <p>
                    To see your notifications, click on the <strong>bell</strong> icon at the upper right corner of the page. You can then proceed to
                    viewing your <strong>Recent</strong> and <strong>All</strong> notifications by clicking the appropriate button on the dropdown menu.
                    <img src="../public/img/getting_started/tutor/others-notifications.png" class="img-center img-shadow img-responsive" width="900">
                </p>
                <h6>
                    <span id="help" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                    Help
                </h6>
                <p>
                    For help or steps on how to use a feature on the system, locate and click the <strong>Question</strong> icon at the upper right corner of the page.
                    You are then taken to the documentation page from where you can see instructions and guides on how to use a feature.
                    <img src="../public/img/getting_started/learner/others-help.png" class="img-center img-shadow img-responsive" width="900">
                </p>
            </div>
        </div>
    </div>
</section>