<section>
    <h2 id="quiz-setting">Quiz Settings</h2>
    <div>
        <p>This tutorial will walk you through the steps of setting up a quiz.
            Setting up a quiz in your ProdigyLMS can be accomplished with just few steps.</p>
    </div>
    <h3 id="create-quiz">1. Create Quiz</h3>
    <div class="">
        <p>
            To create a quiz on the platform you will have to be logged in as a <strong>Tutor</strong> or an <strong>Administrator</strong>.
            On the <strong>Menu</strong>; go to <strong>Quizzes > Create a Quiz</strong>, there are 3 types of quiz you can create:
            <img src="../public/img/getting_started/create-quiz.png" class="img-center img-shadow img-responsive" width="900">
        </p>
        <div>
            <h6>
                    <span id="create-course-quiz" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
                Create Course Quiz
            </h6>
            <p>
                On the Quiz Manager page, click <strong>Start</strong> on the <strong>Create Course Quiz</strong>.
                select the <strong>Course</strong> you want to create a quiz for, name the quiz and set all other <strong>Quiz Parameters as provided</strong>.
                Click <strong>Create</strong> to create your Course quiz.
                <img src="../public/img/getting_started/create-quiz-course-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/create-quiz-course-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                    <span id="create-module-quiz" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
                Create Module Quiz
            </h6>
            <p>
                On the Quiz Manager page, click <strong>Start</strong> on the <strong>Create Module Quiz</strong>. Select the <strong>Course</strong>
                and <strong>Module</strong> you want to create quiz for and set all other <strong>Quiz Parameters</strong> as provided. Click
                <strong>Create</strong> to create your Module quiz.
                <img src="../public/img/getting_started/create-quiz-module-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/create-quiz-module-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
            <h6>
                <!-- Create an icon wrapped by the fa-stack class -->
                <span id="create-topic-quiz" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                    <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            3
                        </strong>
                    </span>
                Create Topic Quiz
            </h6>
            <p>
                On the Quiz Manager page, click <strong>Start</strong> on the <strong>Create Topic Quiz</strong>. Select the <strong>Course</strong>, <strong>Module</strong>
                and <strong>Topic</strong> you want to create quiz for and set all other <strong>Quiz Parameters</strong> as provided. Click
                <strong>Create</strong> to create your Topic quiz.
                <img src="../public/img/getting_started/create-quiz-topic-1.png" class="img-center img-shadow img-responsive" width="900">
                <img src="../public/img/getting_started/create-quiz-topic-2.png" class="img-center img-shadow img-responsive" width="900">
            </p>
        </div>
    </div>
    <h3 id="create-Question">2. Create Quiz Question</h3>
    <div class="">
        <p>
            To create quiz question in ProdigyLms, all you need is to login as a <strong>Tutor</strong> or an <strong>Administrator</strong>.
            On the <strong>Menu</strong>; go to <strong>Quizzes > Create Questions</strong>, there are 3 types of quiz question you can create:
            <img src="../public/img/getting_started/create-quiz-question.png" class="img-center img-shadow img-responsive" width="900">
        <h6>
                    <span id="create-course-question" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            1
                        </strong>
                    </span>
            Create Course Question
        </h6>
        <div>
            <p>
                On the Add Question page, click <strong>Create Course Question</strong> on the <strong>Course Question Bank</strong>.
                Select the <strong>Course</strong> you want to create questions for from the Course list. Enter your question in the <strong>Question Box</strong>
                and your options in the <strong>Option Boxes</strong> provided and provide the answer to the question by setting the <strong>Correct Option</strong>
                in front of the right option to <strong>Yes</strong>.
            </p>
            <ul class="course-edit-list">
                <li>To <strong>Add an Option</strong>, click on <strong>More Options</strong></li>
                <li>To <strong>Remove an Option</strong>, click on <strong>(Remove this option)</strong></li>
                <li>To <strong>Add a new question</strong>, click on <strong>Add more Question</strong></li>
                <li>To <strong>Remove a question</strong>, click on <strong>(Remove this Question)</strong></li>
            </ul>
            Click <strong>Save Quiz</strong> to create your Course question.
            <img src="../public/img/getting_started/create-quiz-question-course.png" class="img-center img-shadow img-responsive" width="900">
        </div>
        <h6>
                    <span id="create-module-question" class="fa-stack">
                        <!-- The icon that will wrap the number -->
                        <span class="fa fa-circle-o fa-stack-2x"></span>
                        <!-- a strong element with the custom content, in this case a number -->
                        <strong class="fa-stack-1x">
                            2
                        </strong>
                    </span>
            Create Module Question
        </h6>
        <div>
            <p>
                On the Add Question page, click <strong>Create Module Question</strong> on the <strong>Module Question Bank</strong>. Select the <strong>Course</strong>
                and <strong>Course Module</strong> you want to create question for. Enter your question in the <strong>Question Box</strong> and your options in the
                <strong>Option Boxes</strong> provided and provide the answer to the question by setting the <strong>Correct Option</strong> in front of the right
                option to <strong>Yes</strong>.
            </p>
            <ul class="course-edit-list">
                <li>To <strong>Add an Option</strong>, click on <strong>More Options</strong></li>
                <li>To <strong>Remove an Option</strong>, click on <strong>(Remove this option)</strong></li>
                <li>To <strong>Add a new question</strong>, click on <strong>Add more Question</strong></li>
                <li>To <strong>Remove a question</strong>, click on <strong>(Remove this Question)</strong></li>
            </ul>
            Click <strong>Save Quiz</strong> to create your Module question.
            <img src="../public/img/getting_started/create-quiz-question-module.png" class="img-center img-shadow img-responsive" width="900">
        </div>
        <h6>
                        <span id="create-topic-question" class="fa-stack">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x">
                                3
                            </strong>
                        </span>
            Create Topic Question
        </h6>
        <div>
            <p>
                On the Add Question page, click <strong>Create topic questions</strong> on the <strong>Topic Question Bank</strong>. Select the <strong>Course</strong>
                ,<strong>Course Module</strong> and <strong>Select Topic</strong> you want to create question for. Enter your question in the <strong>Question Box</strong> and your options in the
                <strong>Option Boxes</strong> provided and provide the answer to the question by setting the <strong>Correct Option</strong> in front of the right
                option to <strong>Yes</strong>.
            </p>
            <ul class="course-edit-list">
                <li>To <strong>Add an Option</strong>, click on <strong>More Options</strong></li>
                <li>To <strong>Remove an Option</strong>, click on <strong>(Remove this option)</strong></li>
                <li>To <strong>Add a new question</strong>, click on <strong>Add more Question</strong></li>
                <li>To <strong>Remove a question</strong>, click on <strong>(Remove this Question)</strong></li>
            </ul>
            Click <strong>Save Quiz</strong> to create your Topic question.
            <img src="../public/img/getting_started/create-quiz-question-topic.png" class="img-center img-shadow img-responsive" width="900">
        </div>
        </p>
    </div>
    <h3 id="view-edit-delete-quiz">3. View Details, Edit and Delete Quiz</h3>
    <div class="">
        <p>
            As a <strong>Tutor</strong> or an <strong>Administrator</strong>, on the <strong>Menu</strong>; go to
            <strong>Quizzes > All Quizzes</strong>. On the Quiz Page, from the listed available quizz(es) navigate to a quiz:
            <ul class="course-edit-list">
                <li>
                    <h6>View Details:</h6>
        <p>
            Click on <strong>Details</strong>, you are then taken to a the quiz details page
            <img src="../public/img/getting_started/quiz-details.png" class="img-center img-shadow img-responsive" width="900">
        <p>&nbsp; &nbsp;</p>
        <img src="../public/img/getting_started/quiz-details-details.png" class="img-center img-shadow img-responsive" width="900">
        Click <strong>EDIT</strong> to Edit the quiz or <strong>OVERRIDE BASIC SETTINGS FOR SPECIAL STUDENT</strong> to override general quiz settings.
        </p>
        </li>
        <li>
            <h6>To Edit:</h6>
            <p>
                Click on <strong>Edit</strong>, you are then taken to a page where you will make changes to the quiz selected.
                <img src="../public/img/getting_started/edit-quiz.png" class="img-center img-shadow img-responsive" width="900">
            <p>&nbsp; &nbsp;</p>
            <img src="../public/img/getting_started/edit-quiz-edit-1.png" class="img-center img-shadow img-responsive" width="900">
            <img src="../public/img/getting_started/edit-quiz-edit-2.png" class="img-center img-shadow img-responsive" width="900">
            After making changes to the quiz, click <strong>Update Quiz</strong> to effect the changes made on the system.
            </p>
        </li>
        <li>
            <h6>To Delete:</h6>
            <p>
                Click on <strong>Delete</strong>, you are then taken to a page to confirm your delete action
                <img src="../public/img/getting_started/delete-quiz.png" class="img-center img-shadow img-responsive" width="900">
            <p>&nbsp; &nbsp;</p>
            <img src="../public/img/getting_started/delete-quiz-confirm.png" class="img-center img-shadow img-responsive" width="900">
            Click <strong>Yes</strong> to delete the quiz or <strong>Cancel</strong> to abort.
            </p>
        </li>
        </ul>
        </p>
    </div>
    <h3 id="override-quiz">4. Override Quiz Settings for Special Student</h3>
    <div class="">
        <p>
            As a <strong>Tutor</strong> or an <strong>Administrator</strong>, on the <strong>Menu</strong>; go to
            <strong>Quizzes > All Quizzes</strong>. On the Quiz Page, from the listed available quizz(es) navigate to the quiz you ant to override its settings.
            Click on <strong>Details</strong>, you are then taken to a the quiz details page
            <img src="../public/img/getting_started/quiz-details.png" class="img-center img-shadow img-responsive" width="900">
            Click <strong>EDIT</strong> to Edit the quiz or <strong>OVERRIDE BASIC SETTINGS FOR SPECIAL STUDENT</strong> to override general quiz settings. On the dialog that pops up,
            select the student you want to override the quiz settings for from the <strong>Pick Student</strong> drop down and set other parameters required then click
            on <strong>Extend</strong> to effect the new settings.
            <img src="../public/img/getting_started/quiz-details-details.png" class="img-center img-shadow img-responsive" width="900">
        <p>&nbsp; &nbsp;</p>
        <img src="../public/img/getting_started/override-quiz.png" class="img-center img-shadow img-responsive" width="900">
        </p>
    </div>
</section>
